/* line 41, ../sass/_grid.scss */
body {
  width: 100%;
  *zoom: 1;
}
/* line 27, ../sass/_grid.scss */
body:before, body:after {
  content: "";
  display: table;
}
/* line 31, ../sass/_grid.scss */
body:after {
  clear: both;
}

/* line 11, ../sass/_jss-ui-common.scss */
body {
  max-width: 1024px;
  font-size: 100%;
  line-height: 1.1em;
  margin: 0px auto;
  background: #fff;
  width: 968px;
}

/* line 19, ../sass/_jss-ui-common.scss */
header {
  position: relative;
  color: #CCC;
  border-radius: 0px;
}
/* line 23, ../sass/_jss-ui-common.scss */
header .header-logo {
  background: url("../images/jss_logo.png") no-repeat scroll left top transparent;
  color: #ffffff;
  display: block;
  font-size: 1.5em;
  height: 32px;
  margin: 4px 0px 0px 5px;
  padding: 11px 0px 0px 49px;
  text-decoration: none;
  line-height: 15px;
  float: left;
}
/* line 35, ../sass/_jss-ui-common.scss */
header ul {
  float: right;
}
/* line 37, ../sass/_jss-ui-common.scss */
header ul li {
  margin: 11px 15px 10px 0px;
  display: inline-block;
}
/* line 40, ../sass/_jss-ui-common.scss */
header ul li a {
  color: #f2f2f2;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
/* line 45, ../sass/_jss-ui-common.scss */
header ul li a .nav-link {
  padding-left: 2px;
}
/* line 47, ../sass/_jss-ui-common.scss */
header ul li a .nav-link:hover {
  text-decoration: underline;
}

/******** form element styling start********/
/* line 57, ../sass/_jss-ui-common.scss */
form fieldset {
  border: none;
  padding: 0px;
  width: 100%;
}
/* line 62, ../sass/_jss-ui-common.scss */
form .form-field-inline .form-field {
  float: left;
  display: inline;
  float: left;
  width: 50%;
  margin: 0;
  margin-bottom: 10px;
}
/* line 70, ../sass/_jss-ui-common.scss */
form .form-field {
  overflow: hidden;
  *zoom: 1;
}
/* line 72, ../sass/_jss-ui-common.scss */
form .form-field .field-attribute {
  float: left;
}
/* line 74, ../sass/_jss-ui-common.scss */
form .form-field .field-attribute label {
  width: 13em;
  float: left;
  text-align: right;
  margin: 0.5em 0.8em 0em 0em;
}
/* line 81, ../sass/_jss-ui-common.scss */
form .form-field .field-value {
  float: left;
}
/* line 83, ../sass/_jss-ui-common.scss */
form .form-field .field-value input[type="text"], form .form-field .field-value .input-prepend [type="text"].add-on, form .input-prepend .form-field .field-value [type="text"].add-on, form .form-field .field-value input[type="password"], form .form-field .field-value .input-prepend [type="password"].add-on, form .input-prepend .form-field .field-value [type="password"].add-on {
  float: left;
  width: 12.5em;
}
/* line 87, ../sass/_jss-ui-common.scss */
form .form-field .field-value input[type="number"], form .form-field .field-value .input-prepend [type="number"].add-on, form .input-prepend .form-field .field-value [type="number"].add-on {
  width: 8em;
}
/* line 90, ../sass/_jss-ui-common.scss */
form .form-field .field-value span.value-text-only {
  display: inline-block;
  margin: 0.5em 0.8em 0em 0em;
}
/* line 97, ../sass/_jss-ui-common.scss */
form .form-field-inline p {
  float: left;
  margin-left: 20px;
  margin-top: 10px;
}
/* line 103, ../sass/_jss-ui-common.scss */
form .input-prepend {
  float: left;
}
/* line 105, ../sass/_jss-ui-common.scss */
form .input-prepend input, form .input-prepend .add-on {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  float: left;
  margin: 0px !important;
}
/* line 112, ../sass/_jss-ui-common.scss */
form .input-prepend .add-on {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  height: 21px;
  min-width: 17px;
  padding: 4px 5px;
  background-color: #eee;
  border: 1px solid #ccc;
}
/* line 123, ../sass/_jss-ui-common.scss */
form .input-prepend .add-on:first-child, form .input-prepend .btn:first-child {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
/* line 128, ../sass/_jss-ui-common.scss */
form .input-prepend .add-on, form .input-prepend .btn {
  margin-right: -1px;
}
/* line 131, ../sass/_jss-ui-common.scss */
form input[disabled], form .input-prepend [disabled].add-on, form select[disabled], form textarea[disabled], form input[readonly], form .input-prepend [readonly].add-on, form select[readonly], form textarea[readonly] {
  cursor: not-allowed;
  background-color: #eee;
}
/* line 134, ../sass/_jss-ui-common.scss */
form input[disabled]:focus, form .input-prepend [disabled].add-on:focus, form select[disabled]:focus, form textarea[disabled]:focus, form input[readonly]:focus, form .input-prepend [readonly].add-on:focus, form select[readonly]:focus, form textarea[readonly]:focus {
  cursor: not-allowed;
  background-color: #eee;
  outline: none;
}
/* line 140, ../sass/_jss-ui-common.scss */
form .form-button-wrapper {
  margin-top: 10px;
  padding-left: 14em;
}

/* line 145, ../sass/_jss-ui-common.scss */
.input-mini {
  display: inline;
  float: left;
  width: 6.25%;
  margin: 0 1.04167%;
}

/* line 146, ../sass/_jss-ui-common.scss */
.input-small {
  display: inline;
  float: left;
  width: 14.58333%;
  margin: 0 1.04167%;
}

/* line 147, ../sass/_jss-ui-common.scss */
.input-medium {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.04167%;
}

/* line 148, ../sass/_jss-ui-common.scss */
.input-large {
  display: inline;
  float: left;
  width: 47.91667%;
  margin: 0 1.04167%;
}

/* line 149, ../sass/_jss-ui-common.scss */
.input-xlarge {
  display: inline;
  float: left;
  width: 64.58333%;
  margin: 0 1.04167%;
}

/* line 150, ../sass/_jss-ui-common.scss */
.input-xxlarge {
  display: inline;
  float: left;
  width: 81.25%;
  margin: 0 1.04167%;
}

/* line 151, ../sass/_jss-ui-common.scss */
textarea {
  width: 426.6px;
  height: 84px;
}

/* line 155, ../sass/_jss-ui-common.scss */
.span1 {
  display: inline;
  float: left;
  width: 6.25%;
  margin: 0 1.04167%;
}

/* line 158, ../sass/_jss-ui-common.scss */
.span2 {
  display: inline;
  float: left;
  width: 14.58333%;
  margin: 0 1.04167%;
}

/* line 161, ../sass/_jss-ui-common.scss */
.span3 {
  display: inline;
  float: left;
  width: 22.91667%;
  margin: 0 1.04167%;
}

/* line 164, ../sass/_jss-ui-common.scss */
.span4 {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.04167%;
}

/* line 167, ../sass/_jss-ui-common.scss */
.span5 {
  display: inline;
  float: left;
  width: 39.58333%;
  margin: 0 1.04167%;
}

/* line 170, ../sass/_jss-ui-common.scss */
.span6 {
  display: inline;
  float: left;
  width: 47.91667%;
  margin: 0 1.04167%;
}

/* line 173, ../sass/_jss-ui-common.scss */
.span7 {
  display: inline;
  float: left;
  width: 56.25%;
  margin: 0 1.04167%;
}

/* line 176, ../sass/_jss-ui-common.scss */
.span8 {
  display: inline;
  float: left;
  width: 64.58333%;
  margin: 0 1.04167%;
}

/* line 179, ../sass/_jss-ui-common.scss */
.span9 {
  display: inline;
  float: left;
  width: 72.91667%;
  margin: 0 1.04167%;
}

/* line 182, ../sass/_jss-ui-common.scss */
.span10 {
  display: inline;
  float: left;
  width: 81.25%;
  margin: 0 1.04167%;
}

/* line 185, ../sass/_jss-ui-common.scss */
.span11 {
  display: inline;
  float: left;
  width: 89.58333%;
  margin: 0 1.04167%;
}

/* line 188, ../sass/_jss-ui-common.scss */
.span12 {
  display: inline;
  float: left;
  width: 97.91667%;
  margin: 0 1.04167%;
}

/* line 191, ../sass/_jss-ui-common.scss */
form .select-arrow:after, .form .select-arrow:after {
  height: auto;
}

/********* form element styling end***********/
/* line 194, ../sass/_jss-ui-common.scss */
.content-wrapper {
  background: #fff;
  overflow: hidden;
  *zoom: 1;
  padding: 20px 10px 10px 10px;
}

/* line 199, ../sass/_jss-ui-common.scss */
.menu-drag-info-wrapper {
  padding: 5px 0px 0px 0px;
  background: #cecece;
  border-bottom: 1px solid #cecece;
  position: relative;
}
/* line 204, ../sass/_jss-ui-common.scss */
.menu-drag-info-wrapper .menu-drag-info {
  background: #f1f1f1;
  padding: 5px;
}
/* line 208, ../sass/_jss-ui-common.scss */
.menu-drag-info-wrapper .menu-drag {
  width: 60px;
  height: 22px;
  margin: 0px auto;
  background: #00463f;
  text-indent: -9999px;
  display: block;
  position: absolute;
  bottom: -23px;
  right: 0px;
  left: 0px;
  -moz-border-radius-bottomleft: 30px;
  -webkit-border-bottom-left-radius: 30px;
  border-bottom-left-radius: 30px;
  -moz-border-radius-bottomright: 30px;
  -webkit-border-bottom-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f1f1f1), color-stop(100%, #cecece));
  background-image: -webkit-linear-gradient(#f1f1f1, #cecece);
  background-image: -moz-linear-gradient(#f1f1f1, #cecece);
  background-image: -o-linear-gradient(#f1f1f1, #cecece);
  background-image: linear-gradient(#f1f1f1, #cecece);
  border: 1px solid #cecece;
  border-top: none;
}
/* line 223, ../sass/_jss-ui-common.scss */
.menu-drag-info-wrapper .menu-drag span {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}
/* line 231, ../sass/_jss-ui-common.scss */
.menu-drag-info-wrapper .menu-drag-close {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cecece), color-stop(100%, #f1f1f1));
  background-image: -webkit-linear-gradient(#cecece, #f1f1f1);
  background-image: -moz-linear-gradient(#cecece, #f1f1f1);
  background-image: -o-linear-gradient(#cecece, #f1f1f1);
  background-image: linear-gradient(#cecece, #f1f1f1);
}

/* line 235, ../sass/_jss-ui-common.scss */
.patient-details-mini {
  height: 100px;
  width: 100px;
  border: 1px solid #cecece;
}

/* line 3, ../sass/ipd.scss */
html, body {
  height: 100%;
}

/* line 6, ../sass/ipd.scss */
.opd-header-wrapper {
  *zoom: 1;
  background: #00463F;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.opd-header-wrapper:after {
  content: "";
  display: table;
  clear: both;
}
/* line 9, ../sass/ipd.scss */
.opd-header-wrapper header {
  width: 960px;
  margin: 0px auto;
  border-radius: 0px;
  padding: 2px;
  position: relative;
}
/* line 15, ../sass/ipd.scss */
.opd-header-wrapper header .header-logo {
  background: url("../images/jss_logo.png") no-repeat left top;
  padding: 10px 0px 7px 40px;
  float: left;
  margin-top: 7px;
}
/* line 22, ../sass/ipd.scss */
.opd-header-wrapper header ul.header-tabs {
  float: left;
  margin-top: 10px;
}
/* line 26, ../sass/ipd.scss */
.opd-header-wrapper header ul.patient-info {
  float: right;
}
/* line 28, ../sass/ipd.scss */
.opd-header-wrapper header ul.patient-info li {
  float: left;
  margin: 0px 10px 0px 0px;
}
/* line 33, ../sass/ipd.scss */
.opd-header-wrapper header ul li {
  font-size: 14.4px;
  font-size: 0.9rem;
  margin: 0px 15px 0px 0px;
}
/* line 36, ../sass/ipd.scss */
.opd-header-wrapper header ul li.logoff {
  margin: 4px 0px 0px 0px;
}
/* line 38, ../sass/ipd.scss */
.opd-header-wrapper header ul li.logoff button {
  padding: 10px;
  margin-top: 1px;
  color: #fff;
  background: #447772;
  border: 1px solid #00463F;
}
/* line 44, ../sass/ipd.scss */
.opd-header-wrapper header ul li.logoff button:hover {
  background: #4D9B92;
}
/* line 49, ../sass/ipd.scss */
.opd-header-wrapper header ul li a {
  padding-top: 10px;
  cursor: pointer;
}
/* line 56, ../sass/ipd.scss */
.opd-header-wrapper header .patient-detail {
  position: absolute;
  top: 62px;
  right: 10px;
  color: #F26522;
  z-index: 999;
}

/* line 65, ../sass/ipd.scss */
.roundImages {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-top: 4px;
}

/* patient queue   css  start **/
/* line 72, ../sass/ipd.scss */
.table-filter-wrapper {
  padding: 0px 0px 15px;
  overflow: hidden;
}
/* line 75, ../sass/ipd.scss */
.table-filter-wrapper .search-box {
  float: left;
  position: relative;
}
/* line 78, ../sass/ipd.scss */
.table-filter-wrapper .search-box input, .table-filter-wrapper .search-box form .input-prepend .add-on, form .input-prepend .table-filter-wrapper .search-box .add-on {
  padding-right: 20px;
}
/* line 81, ../sass/ipd.scss */
.table-filter-wrapper .search-box span.icon-search {
  position: absolute;
  right: 7px;
  top: 10px;
}
/* line 87, ../sass/ipd.scss */
.table-filter-wrapper span.select-arrow {
  float: left;
  margin: 0em .8em;
}
/* line 91, ../sass/ipd.scss */
.table-filter-wrapper ul {
  float: right;
  margin-right: 20px;
  margin-top: 10px;
}
/* line 95, ../sass/ipd.scss */
.table-filter-wrapper ul li {
  float: left;
  margin-right: 20px;
  color: #00463f;
}

/* line 102, ../sass/ipd.scss */
.table {
  border: 1px solid #cecece;
  font-size: 16px;
  font-size: 1rem;
}
/* line 105, ../sass/ipd.scss */
.table .row {
  *zoom: 1;
  border-bottom: 1px solid #cecece;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.table .row:after {
  content: "";
  display: table;
  clear: both;
}
/* line 109, ../sass/ipd.scss */
.table .col {
  padding: 10px 0px;
  font-size: 14.4px;
  font-size: 0.9rem;
}
/* line 113, ../sass/ipd.scss */
.table .col1 {
  display: inline;
  float: left;
  width: 14.58333%;
  margin: 0 1.04167%;
  width: 50px;
  padding-top: 8px;
  padding-bottom: 5px;
}
/* line 119, ../sass/ipd.scss */
.table .col2 {
  display: inline;
  float: left;
  width: 14.58333%;
  margin: 0 1.04167%;
}
/* line 122, ../sass/ipd.scss */
.table .col3 {
  display: inline;
  float: left;
  width: 14.58333%;
  margin: 0 1.04167%;
}
/* line 125, ../sass/ipd.scss */
.table .col4 {
  display: inline;
  float: left;
  width: 22.91667%;
  margin: 0 1.04167%;
}
/* line 128, ../sass/ipd.scss */
.table .col5 {
  display: inline;
  float: left;
  width: 22.91667%;
  margin: 0 1.04167%;
}
/* line 131, ../sass/ipd.scss */
.table .table-header {
  background: #F0F0F0;
}
/* line 133, ../sass/ipd.scss */
.table .table-header .col {
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold;
}
/* line 140, ../sass/ipd.scss */
.table .table-body .row:hover {
  background: #F9F9F9;
}

/* patient queue   css  start end **/
/* admit patient   css  start **/
/* line 148, ../sass/ipd.scss */
.admit-form {
  padding: 10px;
}

/* line 151, ../sass/ipd.scss */
.admit-detail-wrapper {
  overflow: hidden;
  width: 100%;
}
/* line 154, ../sass/ipd.scss */
.admit-detail-wrapper label {
  font-size: 14px;
}
/* line 157, ../sass/ipd.scss */
.admit-detail-wrapper p {
  margin-bottom: 6px;
  font-size: 0.9em;
  color: #585656;
}
/* line 162, ../sass/ipd.scss */
.admit-detail-wrapper .admit-detail-wrapper-l {
  float: left;
  width: 14em;
  margin-bottom: 15px;
  margin-left: 1em;
}
/* line 167, ../sass/ipd.scss */
.admit-detail-wrapper .admit-detail-wrapper-l .patient-photo {
  height: 180px;
  width: 180px;
  border: 1px solid #cecece;
  background: #f1f1f1;
}
/* line 174, ../sass/ipd.scss */
.admit-detail-wrapper .admit-detail-wrapper-r {
  float: left;
}
/* line 176, ../sass/ipd.scss */
.admit-detail-wrapper .admit-detail-wrapper-r .form-field .field-attribute label {
  width: 13em;
  text-align: left;
}

/* admit patient   css  end **/
/* bed management css start*/
/* line 182, ../sass/ipd.scss */
.hide {
  display: none;
}

/* line 185, ../sass/ipd.scss */
.bed-assignment {
  position: relative;
  width: 894px;
  border: 1px solid #cecece;
  margin: 0px auto;
  min-height: 200px;
  padding: 20px;
  text-align: center;
}
/* line 193, ../sass/ipd.scss */
.bed-assignment .bed-assignment-inner-wrapper {
  display: inline-block;
}
/* line 196, ../sass/ipd.scss */
.bed-assignment .row {
  overflow: hidden;
}
/* line 198, ../sass/ipd.scss */
.bed-assignment .row ul {
  overflow: hidden;
}
/* line 200, ../sass/ipd.scss */
.bed-assignment .row ul .col {
  float: left;
  width: 50px;
  height: 50px;
  margin: 19px;
}
/* line 205, ../sass/ipd.scss */
.bed-assignment .row ul .col.occupied {
  background: url("../images/bed-occupied.png") no-repeat center center #cecece;
}
/* line 207, ../sass/ipd.scss */
.bed-assignment .row ul .col.occupied:hover {
  outline: 5px solid #B4B2B2;
  background-color: #B4B2B2;
  cursor: pointer;
}
/* line 213, ../sass/ipd.scss */
.bed-assignment .row ul .col.available {
  background: url("../images/bed-available.png") no-repeat center center #94e594;
}
/* line 215, ../sass/ipd.scss */
.bed-assignment .row ul .col.available:hover {
  background-color: #76E676;
  outline: 5px solid #76E676;
  cursor: pointer;
}
/* line 221, ../sass/ipd.scss */
.bed-assignment .row ul .col.empty {
  background: beige;
  margin: 0px;
  padding: 19px;
}

/* line 230, ../sass/ipd.scss */
.bed-info {
  padding: 10px;
  background: #f1f1f1;
  display: inline-block;
  position: absolute;
  display: none;
  border: 2px solid #cecece;
  opacity: 0.90;
  z-index: 9999;
}
/* line 239, ../sass/ipd.scss */
.bed-info li {
  padding: 1px5px;
  color: #000;
  text-align: center;
  font-size: 14px;
}
/* line 244, ../sass/ipd.scss */
.bed-info li:first-child {
  border-bottom: 1px solid #000;
  margin-bottom: 2px;
  font-weight: bold;
  font-family: arial;
}
/* line 250, ../sass/ipd.scss */
.bed-info li a {
  background-color: #00463F;
  padding: 8px 10px;
  margin-top: 5px;
  color: #fff;
  text-transform: capitalize;
  display: inline-block;
  border: #012C28;
  border-radius: 5px;
}
/* line 259, ../sass/ipd.scss */
.bed-info li a:hover {
  cursor: pointer;
  background-color: #076158;
  text-decoration: none;
}

/*** bed management css end ***/
/** vitals css start **/
/* line 269, ../sass/ipd.scss */
.vitals {
  padding: 0px 0px 10px;
}
/* line 271, ../sass/ipd.scss */
.vitals .vitals-wrapper {
  padding: 10px 0px;
}
/* line 274, ../sass/ipd.scss */
.vitals .vitals-select {
  padding: 13px 12px 14px;
  background: #D5DFC7;
  margin-bottom: 20px;
  box-shadow: 1px 3px 4px #CECECE;
}
/* line 279, ../sass/ipd.scss */
.vitals .vitals-select button {
  margin-left: 10px;
}

/** vitals css end **/
/** drop down checklist ****/
/* line 286, ../sass/ipd.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 291, ../sass/ipd.scss */
.btn-group, .btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

/* line 296, ../sass/ipd.scss */
.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

/* line 300, ../sass/ipd.scss */
.btn-group .dropdown-toggle:active, .btn-group.open .dropdown-toggle {
  outline: 0;
}

/* line 303, ../sass/ipd.scss */
.btn-group > .btn:first-child {
  margin-left: 0;
}

/* line 306, ../sass/ipd.scss */
.btn-group > .btn, .btn-group-vertical > .btn {
  position: relative;
  float: left;
}

/* line 310, ../sass/ipd.scss */
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* line 329, ../sass/ipd.scss */
.open > .dropdown-menu {
  display: block;
}

/* line 332, ../sass/ipd.scss */
.radio, .checkbox {
  display: block;
  min-height: 20px;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  vertical-align: middle;
}

/* line 340, ../sass/ipd.scss */
input[type="radio"], form .input-prepend [type="radio"].add-on, input[type="checkbox"], form .input-prepend [type="checkbox"].add-on {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}

/* line 345, ../sass/ipd.scss */
.radio input[type="radio"], .radio form .input-prepend [type="radio"].add-on, form .input-prepend .radio [type="radio"].add-on, .radio-inline input[type="radio"], .radio-inline form .input-prepend [type="radio"].add-on, form .input-prepend .radio-inline [type="radio"].add-on, .checkbox input[type="checkbox"], .checkbox form .input-prepend [type="checkbox"].add-on, form .input-prepend .checkbox [type="checkbox"].add-on, .checkbox-inline input[type="checkbox"], .checkbox-inline form .input-prepend [type="checkbox"].add-on, form .input-prepend .checkbox-inline [type="checkbox"].add-on {
  float: left;
  margin-left: -20px;
}

/* line 349, ../sass/ipd.scss */
.btn .caret {
  margin-left: 0;
}

/* line 352, ../sass/ipd.scss */
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid #000;
  border-right: 4px solid rgba(0, 0, 0, 0);
  border-bottom: 0 dotted;
  border-left: 4px solid rgba(0, 0, 0, 0);
  content: "";
}

/* line 365, ../sass/ipd.scss */
.multiselect-container {
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 371, ../sass/ipd.scss */
.multiselect-container .input-group {
  margin: 5px;
}

/* line 374, ../sass/ipd.scss */
.multiselect-container > li {
  padding: 0;
}

/* line 377, ../sass/ipd.scss */
.multiselect-container > li > a.multiselect-all label {
  font-weight: bold;
}

/* line 380, ../sass/ipd.scss */
.multiselect-container > li > label.multiselect-group {
  margin: 0;
  padding: 3px 20px 3px 20px;
  height: 100%;
}

/* line 385, ../sass/ipd.scss */
.multiselect-container > li > a > label {
  margin: 0;
  height: 100%;
  cursor: pointer;
  font-weight: normal;
}

/* line 392, ../sass/ipd.scss */
.multiselect-container > li > a > label.radio,
.multiselect-container > li > a > label.checkbox {
  margin: 0;
}

/* line 395, ../sass/ipd.scss */
.multiselect-container > li > a > label > input[type="checkbox"], form .input-prepend .multiselect-container > li > a > label > [type="checkbox"].add-on {
  margin-bottom: 5px;
}

/* line 398, ../sass/ipd.scss */
.btn-group > .btn-group:nth-child(2) > .multiselect.btn {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

/*** drop doen css end **/
/* patient dashboard css start ***/
/* line 406, ../sass/ipd.scss */
.consultation {
  *zoom: 1;
  margin: 0px 0px 10px;
  color: #585858;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.consultation:after {
  content: "";
  display: table;
  clear: both;
}
/* line 410, ../sass/ipd.scss */
.consultation .header-action {
  background: #ffffff;
  width: 100px;
  margin: 0px auto;
  position: relative;
}
/* line 416, ../sass/ipd.scss */
.consultation h2 {
  font-size: 17.6px;
  font-size: 1.1rem;
  border-bottom: 1px solid #00463f;
  color: #777575;
  padding-bottom: 3px;
  margin-bottom: 10px;
  font-weight: 700;
  font-family: arial;
}
/* line 425, ../sass/ipd.scss */
.consultation .block {
  min-height: 150px;
  padding: 10px;
}
/* line 428, ../sass/ipd.scss */
.consultation .block .block-content {
  padding-left: 20px;
  color: #5C5B5C;
  font-size: 15.2px;
  font-size: 0.95rem;
}
/* line 434, ../sass/ipd.scss */
.consultation .block.investigation li {
  display: inline-block;
  padding: 5px 7px;
  margin-right: 25px;
  margin-top: 10px;
  border-radius: 5px;
  font: 14px/18px verdana,arial;
  background: #efefef;
}
/* line 442, ../sass/ipd.scss */
.consultation .block.investigation li .panel {
  background: #555454;
  color: #FFF;
  display: inline-block;
  width: 18px;
  text-align: center;
  height: 13px;
  padding: 2px 0px;
  font-size: 12px;
  border-radius: 10px;
  line-height: 15px;
}
/* line 457, ../sass/ipd.scss */
.consultation .block.diagnosis h3 {
  margin-bottom: 10px;
  color: #FFF;
  padding: 5px 5px;
  background: #2B97D5;
  font-size: 15.2px;
  font-size: 0.95rem;
}
/* line 464, ../sass/ipd.scss */
.consultation .block.diagnosis .block-content {
  overflow: hidden;
  *zoom: 1;
}
/* line 467, ../sass/ipd.scss */
.consultation .block.diagnosis .diagnosis-type {
  float: left;
  width: 400px;
}
/* line 470, ../sass/ipd.scss */
.consultation .block.diagnosis .diagnosis-type div {
  margin-bottom: 8px;
}
/* line 478, ../sass/ipd.scss */
.consultation .block.treatment ul li {
  padding: 6px 10px;
}
/* line 480, ../sass/ipd.scss */
.consultation .block.treatment ul li .notes {
  color: #9C510B;
  margin-left: 20px;
}
/* line 490, ../sass/ipd.scss */
.consultation .block.disposition ul li {
  margin-bottom: 10px;
}
/* line 496, ../sass/ipd.scss */
.consultation .block .vitals-list li {
  width: 250px;
  float: left;
}
/* line 502, ../sass/ipd.scss */
.consultation .notes {
  margin-top: 20px;
}
/* line 504, ../sass/ipd.scss */
.consultation .notes textarea {
  resize: none;
}

/* line 509, ../sass/ipd.scss */
.patientdashboard, .particularvisit {
  overflow: hidden;
}
/* line 511, ../sass/ipd.scss */
.patientdashboard .block-module, .particularvisit .block-module {
  overflow: hidden;
}
/* line 513, ../sass/ipd.scss */
.patientdashboard .block-module .block-content, .particularvisit .block-module .block-content {
  height: 220px;
  overflow: scroll;
}
/* line 518, ../sass/ipd.scss */
.patientdashboard .pd-date, .particularvisit .pd-date {
  background: #dad4d4;
  padding: 2px;
}
/* line 522, ../sass/ipd.scss */
.patientdashboard .pd-note, .particularvisit .pd-note {
  font-size: 13px;
}
/* line 525, ../sass/ipd.scss */
.patientdashboard h2, .particularvisit h2 {
  border-bottom: 4px solid #00463F;
}
/* line 528, ../sass/ipd.scss */
.patientdashboard dd, .particularvisit dd {
  -webkit-margin-start: 10px;
}
/* line 531, ../sass/ipd.scss */
.patientdashboard .consultation, .particularvisit .consultation {
  width: 80%;
  float: left;
}
/* line 534, ../sass/ipd.scss */
.patientdashboard .consultation .block, .particularvisit .consultation .block {
  width: 48%;
  float: left;
}
/* line 537, ../sass/ipd.scss */
.patientdashboard .consultation .block.investigation, .particularvisit .consultation .block.investigation {
  width: 98%;
}
/* line 542, ../sass/ipd.scss */
.patientdashboard .consultation .investigation li, .particularvisit .consultation .investigation li {
  background: none;
  display: block;
  margin-top: 0px;
}
/* line 549, ../sass/ipd.scss */
.patientdashboard .consultation .diagnosis a, .particularvisit .consultation .diagnosis a {
  background: #fff;
}
/* line 555, ../sass/ipd.scss */
.patientdashboard .block-content ul li, .particularvisit .block-content ul li {
  padding: 4px 10px;
  font-size: 14px;
}
/* line 560, ../sass/ipd.scss */
.patientdashboard .patientdashboard-action, .particularvisit .patientdashboard-action {
  width: 20%;
  float: right;
  height: 100%;
  height: 844px;
  background: #2F353F;
}
/* line 566, ../sass/ipd.scss */
.patientdashboard .patientdashboard-action h2, .particularvisit .patientdashboard-action h2 {
  font-size: 17.6px;
  font-size: 1.1rem;
  border-bottom: 1px solid #00463f;
  color: #777575;
  padding-bottom: 3px;
  margin-bottom: 10px;
  font-weight: 700;
  font-family: arial;
}
/* line 575, ../sass/ipd.scss */
.patientdashboard .patientdashboard-action .block, .particularvisit .patientdashboard-action .block {
  padding: 10px;
}
/* line 579, ../sass/ipd.scss */
.patientdashboard .patientdashboard-action .visit-history, .particularvisit .patientdashboard-action .visit-history {
  min-height: 100px;
  max-height: 300px;
  overflow: scroll;
}
/* line 583, ../sass/ipd.scss */
.patientdashboard .patientdashboard-action .visit-history ul, .particularvisit .patientdashboard-action .visit-history ul {
  margin-right: 5px;
}
/* line 585, ../sass/ipd.scss */
.patientdashboard .patientdashboard-action .visit-history ul li, .particularvisit .patientdashboard-action .visit-history ul li {
  border-right: 1px solid #fff;
  color: #fff;
  font-size: 12px;
  text-align: right;
  padding: 15px 8px;
}
/* line 591, ../sass/ipd.scss */
.patientdashboard .patientdashboard-action .visit-history ul li.active, .particularvisit .patientdashboard-action .visit-history ul li.active {
  background: #4D648B;
}
/* line 594, ../sass/ipd.scss */
.patientdashboard .patientdashboard-action .visit-history ul li:hover, .particularvisit .patientdashboard-action .visit-history ul li:hover {
  cursor: pointer;
  background: #36435A;
}
/* line 601, ../sass/ipd.scss */
.patientdashboard .patientdashboard-action .patientdashboard-action-list, .particularvisit .patientdashboard-action .patientdashboard-action-list {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 604, ../sass/ipd.scss */
.patientdashboard .patientdashboard-action .patientdashboard-action-list li, .particularvisit .patientdashboard-action .patientdashboard-action-list li {
  padding: 10px 0px;
}
/* line 606, ../sass/ipd.scss */
.patientdashboard .patientdashboard-action .patientdashboard-action-list li a, .particularvisit .patientdashboard-action .patientdashboard-action-list li a {
  padding: 5px 10px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
}
/* line 613, ../sass/ipd.scss */
.patientdashboard .patientdashboard-action .patientdashboard-action-list li a:hover, .particularvisit .patientdashboard-action .patientdashboard-action-list li a:hover {
  background: #99A2B1;
  color: #000;
}

@media only screen and (max-width: 768px) {
  /* line 628, ../sass/ipd.scss */
  body {
    width: 760px;
  }
}
@media only screen and (max-width: 1200px) {
  /* line 631, ../sass/ipd.scss */
  body {
    font-size: 90%;
  }
}
