/* line 41, ../sass/_grid.scss */
body {
  width: 100%;
  *zoom: 1;
}
/* line 27, ../sass/_grid.scss */
body:before, body:after {
  content: "";
  display: table;
}
/* line 31, ../sass/_grid.scss */
body:after {
  clear: both;
}

/* line 11, ../sass/_jss-ui-common.scss */
body {
  max-width: 1024px;
  font-size: 100%;
  line-height: 1.1em;
}

/* line 16, ../sass/_jss-ui-common.scss */
header {
  position: relative;
  color: #CCC;
  border-radius: 0px;
}
/* line 20, ../sass/_jss-ui-common.scss */
header .header-logo {
  background: url("../images/jss_logo.png") no-repeat scroll left top transparent;
  color: #ffffff;
  display: block;
  font-size: 1.5em;
  height: 32px;
  margin: 4px 0px 0px 5px;
  padding: 11px 0px 0px 49px;
  text-decoration: none;
  line-height: 15px;
  float: left;
}
/* line 32, ../sass/_jss-ui-common.scss */
header ul {
  float: right;
}
/* line 34, ../sass/_jss-ui-common.scss */
header ul li {
  margin: 11px 15px 10px 0px;
  display: inline-block;
}
/* line 37, ../sass/_jss-ui-common.scss */
header ul li a {
  color: #f2f2f2;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
/* line 42, ../sass/_jss-ui-common.scss */
header ul li a .nav-link {
  padding-left: 2px;
}
/* line 44, ../sass/_jss-ui-common.scss */
header ul li a .nav-link:hover {
  text-decoration: underline;
}

/******** form element styling start********/
/* line 54, ../sass/_jss-ui-common.scss */
form fieldset {
  border: none;
  padding: 0px;
  width: 100%;
}
/* line 59, ../sass/_jss-ui-common.scss */
form .form-field {
  overflow: hidden;
  *zoom: 1;
}
/* line 61, ../sass/_jss-ui-common.scss */
form .form-field .field-attribute {
  float: left;
}
/* line 63, ../sass/_jss-ui-common.scss */
form .form-field .field-attribute label {
  width: 13em;
  float: left;
  text-align: right;
  margin: 0.5em 0.8em 0em 0em;
}
/* line 70, ../sass/_jss-ui-common.scss */
form .form-field .field-value {
  float: left;
}
/* line 72, ../sass/_jss-ui-common.scss */
form .form-field .field-value input[type="text"], form .form-field .field-value .input-prepend [type="text"].add-on, form .input-prepend .form-field .field-value [type="text"].add-on, form .form-field .field-value input[type="password"], form .form-field .field-value .input-prepend [type="password"].add-on, form .input-prepend .form-field .field-value [type="password"].add-on {
  float: left;
  width: 12.5em;
}
/* line 76, ../sass/_jss-ui-common.scss */
form .form-field .field-value input[type="number"], form .form-field .field-value .input-prepend [type="number"].add-on, form .input-prepend .form-field .field-value [type="number"].add-on {
  width: 8em;
}
/* line 79, ../sass/_jss-ui-common.scss */
form .form-field .field-value span.value-text-only {
  display: inline-block;
  margin: 0.5em 0.8em 0em 0em;
}
/* line 86, ../sass/_jss-ui-common.scss */
form .form-field-inline p {
  float: left;
  margin-left: 20px;
  margin-top: 10px;
}
/* line 92, ../sass/_jss-ui-common.scss */
form .input-prepend {
  float: left;
}
/* line 94, ../sass/_jss-ui-common.scss */
form .input-prepend input, form .input-prepend .add-on {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  float: left;
  margin: 0px !important;
}
/* line 101, ../sass/_jss-ui-common.scss */
form .input-prepend .add-on {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  height: 21px;
  min-width: 17px;
  padding: 4px 5px;
  background-color: #eee;
  border: 1px solid #ccc;
}
/* line 112, ../sass/_jss-ui-common.scss */
form .input-prepend .add-on:first-child, form .input-prepend .btn:first-child {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
/* line 117, ../sass/_jss-ui-common.scss */
form .input-prepend .add-on, form .input-prepend .btn {
  margin-right: -1px;
}
/* line 120, ../sass/_jss-ui-common.scss */
form input[disabled], form .input-prepend [disabled].add-on, form select[disabled], form textarea[disabled], form input[readonly], form .input-prepend [readonly].add-on, form select[readonly], form textarea[readonly] {
  cursor: not-allowed;
  background-color: #eee;
}
/* line 123, ../sass/_jss-ui-common.scss */
form input[disabled]:focus, form .input-prepend [disabled].add-on:focus, form select[disabled]:focus, form textarea[disabled]:focus, form input[readonly]:focus, form .input-prepend [readonly].add-on:focus, form select[readonly]:focus, form textarea[readonly]:focus {
  cursor: not-allowed;
  background-color: #eee;
  outline: none;
}
/* line 129, ../sass/_jss-ui-common.scss */
form .form-button-wrapper {
  margin-top: 10px;
  padding-left: 14em;
}

/* line 134, ../sass/_jss-ui-common.scss */
.input-mini {
  display: inline;
  float: left;
  width: 6.25%;
  margin: 0 1.04167%;
}

/* line 135, ../sass/_jss-ui-common.scss */
.input-small {
  display: inline;
  float: left;
  width: 14.58333%;
  margin: 0 1.04167%;
}

/* line 136, ../sass/_jss-ui-common.scss */
.input-medium {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.04167%;
}

/* line 137, ../sass/_jss-ui-common.scss */
.input-large {
  display: inline;
  float: left;
  width: 47.91667%;
  margin: 0 1.04167%;
}

/* line 138, ../sass/_jss-ui-common.scss */
.input-xlarge {
  display: inline;
  float: left;
  width: 64.58333%;
  margin: 0 1.04167%;
}

/* line 139, ../sass/_jss-ui-common.scss */
.input-xxlarge {
  display: inline;
  float: left;
  width: 81.25%;
  margin: 0 1.04167%;
}

/* line 140, ../sass/_jss-ui-common.scss */
textarea {
  width: 426.6px;
  height: 84px;
}

/* line 144, ../sass/_jss-ui-common.scss */
.span1 {
  display: inline;
  float: left;
  width: 6.25%;
  margin: 0 1.04167%;
}

/* line 147, ../sass/_jss-ui-common.scss */
.span2 {
  display: inline;
  float: left;
  width: 14.58333%;
  margin: 0 1.04167%;
}

/* line 150, ../sass/_jss-ui-common.scss */
.span3 {
  display: inline;
  float: left;
  width: 22.91667%;
  margin: 0 1.04167%;
}

/* line 153, ../sass/_jss-ui-common.scss */
.span4 {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.04167%;
}

/* line 156, ../sass/_jss-ui-common.scss */
.span5 {
  display: inline;
  float: left;
  width: 39.58333%;
  margin: 0 1.04167%;
}

/* line 159, ../sass/_jss-ui-common.scss */
.span6 {
  display: inline;
  float: left;
  width: 47.91667%;
  margin: 0 1.04167%;
}

/* line 162, ../sass/_jss-ui-common.scss */
.span7 {
  display: inline;
  float: left;
  width: 56.25%;
  margin: 0 1.04167%;
}

/* line 165, ../sass/_jss-ui-common.scss */
.span8 {
  display: inline;
  float: left;
  width: 64.58333%;
  margin: 0 1.04167%;
}

/* line 168, ../sass/_jss-ui-common.scss */
.span9 {
  display: inline;
  float: left;
  width: 72.91667%;
  margin: 0 1.04167%;
}

/* line 171, ../sass/_jss-ui-common.scss */
.span10 {
  display: inline;
  float: left;
  width: 81.25%;
  margin: 0 1.04167%;
}

/* line 174, ../sass/_jss-ui-common.scss */
.span11 {
  display: inline;
  float: left;
  width: 89.58333%;
  margin: 0 1.04167%;
}

/* line 177, ../sass/_jss-ui-common.scss */
.span12 {
  display: inline;
  float: left;
  width: 97.91667%;
  margin: 0 1.04167%;
}

/* line 180, ../sass/_jss-ui-common.scss */
form .select-arrow:after, .form .select-arrow:after {
  height: auto;
}

/********* form element styling end***********/
/* line 183, ../sass/_jss-ui-common.scss */
.content-wrapper {
  background: #fff;
  overflow: hidden;
  *zoom: 1;
  padding: 20px 10px 10px 10px;
}

/* line 188, ../sass/_jss-ui-common.scss */
.menu-drag-info-wrapper {
  padding: 5px 0px 0px 0px;
  background: #cecece;
  border-bottom: 1px solid #cecece;
  position: relative;
}
/* line 193, ../sass/_jss-ui-common.scss */
.menu-drag-info-wrapper .menu-drag-info {
  background: #f1f1f1;
  padding: 5px;
}
/* line 197, ../sass/_jss-ui-common.scss */
.menu-drag-info-wrapper .menu-drag {
  width: 60px;
  height: 22px;
  margin: 0px auto;
  background: #00463f;
  text-indent: -9999px;
  display: block;
  position: absolute;
  bottom: -23px;
  right: 0px;
  left: 0px;
  -moz-border-radius-bottomleft: 30px;
  -webkit-border-bottom-left-radius: 30px;
  border-bottom-left-radius: 30px;
  -moz-border-radius-bottomright: 30px;
  -webkit-border-bottom-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f1f1f1), color-stop(100%, #cecece));
  background-image: -webkit-linear-gradient(#f1f1f1, #cecece);
  background-image: -moz-linear-gradient(#f1f1f1, #cecece);
  background-image: -o-linear-gradient(#f1f1f1, #cecece);
  background-image: linear-gradient(#f1f1f1, #cecece);
  border: 1px solid #cecece;
  border-top: none;
}
/* line 212, ../sass/_jss-ui-common.scss */
.menu-drag-info-wrapper .menu-drag span {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}
/* line 220, ../sass/_jss-ui-common.scss */
.menu-drag-info-wrapper .menu-drag-close {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cecece), color-stop(100%, #f1f1f1));
  background-image: -webkit-linear-gradient(#cecece, #f1f1f1);
  background-image: -moz-linear-gradient(#cecece, #f1f1f1);
  background-image: -o-linear-gradient(#cecece, #f1f1f1);
  background-image: linear-gradient(#cecece, #f1f1f1);
}

/* line 224, ../sass/_jss-ui-common.scss */
.patient-details-mini {
  height: 100px;
  width: 100px;
  border: 1px solid #cecece;
}

/* patient queue   css  start **/
/* line 6, ../sass/ipd.scss */
.table-filter-wrapper {
  padding: 0px 0px 15px;
  overflow: hidden;
}
/* line 9, ../sass/ipd.scss */
.table-filter-wrapper .search-box {
  float: left;
  position: relative;
}
/* line 12, ../sass/ipd.scss */
.table-filter-wrapper .search-box input, .table-filter-wrapper .search-box form .input-prepend .add-on, form .input-prepend .table-filter-wrapper .search-box .add-on {
  padding-right: 20px;
}
/* line 15, ../sass/ipd.scss */
.table-filter-wrapper .search-box span.icon-search {
  position: absolute;
  right: 7px;
  top: 10px;
}
/* line 21, ../sass/ipd.scss */
.table-filter-wrapper span.select-arrow {
  float: left;
  margin: 0em .8em;
}
/* line 25, ../sass/ipd.scss */
.table-filter-wrapper ul {
  float: right;
  margin-right: 20px;
  margin-top: 10px;
}
/* line 29, ../sass/ipd.scss */
.table-filter-wrapper ul li {
  float: left;
  margin-right: 20px;
  color: #00463f;
}

/* line 36, ../sass/ipd.scss */
.table {
  border: 1px solid #cecece;
  font-size: 16px;
  font-size: 1rem;
}
/* line 39, ../sass/ipd.scss */
.table .row {
  *zoom: 1;
  border-bottom: 1px solid #cecece;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.table .row:after {
  content: "";
  display: table;
  clear: both;
}
/* line 43, ../sass/ipd.scss */
.table .col {
  padding: 10px 0px;
  font-size: 14.4px;
  font-size: 0.9rem;
}
/* line 47, ../sass/ipd.scss */
.table .col1 {
  display: inline;
  float: left;
  width: 14.58333%;
  margin: 0 1.04167%;
  width: 50px;
  padding-top: 8px;
  padding-bottom: 5px;
}
/* line 53, ../sass/ipd.scss */
.table .col2 {
  display: inline;
  float: left;
  width: 14.58333%;
  margin: 0 1.04167%;
}
/* line 56, ../sass/ipd.scss */
.table .col3 {
  display: inline;
  float: left;
  width: 14.58333%;
  margin: 0 1.04167%;
}
/* line 59, ../sass/ipd.scss */
.table .col4 {
  display: inline;
  float: left;
  width: 22.91667%;
  margin: 0 1.04167%;
}
/* line 62, ../sass/ipd.scss */
.table .col5 {
  display: inline;
  float: left;
  width: 22.91667%;
  margin: 0 1.04167%;
}
/* line 65, ../sass/ipd.scss */
.table .table-header {
  background: #F0F0F0;
}
/* line 67, ../sass/ipd.scss */
.table .table-header .col {
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold;
}
/* line 74, ../sass/ipd.scss */
.table .table-body .row:hover {
  background: #F9F9F9;
}

/* patient queue   css  start end **/
/* admit patient   css  start **/
/* line 82, ../sass/ipd.scss */
.admit-form {
  padding: 10px;
}

/* line 85, ../sass/ipd.scss */
.admit-detail-wrapper {
  overflow: hidden;
  width: 100%;
}
/* line 88, ../sass/ipd.scss */
.admit-detail-wrapper label {
  font-size: 14px;
}
/* line 91, ../sass/ipd.scss */
.admit-detail-wrapper p {
  margin-bottom: 6px;
  font-size: 0.9em;
  color: #585656;
}
/* line 96, ../sass/ipd.scss */
.admit-detail-wrapper .admit-detail-wrapper-l {
  float: left;
  width: 14em;
  margin-bottom: 15px;
  margin-left: 1em;
}
/* line 101, ../sass/ipd.scss */
.admit-detail-wrapper .admit-detail-wrapper-l .patient-photo {
  height: 180px;
  width: 180px;
  border: 1px solid #cecece;
  background: #f1f1f1;
}
/* line 108, ../sass/ipd.scss */
.admit-detail-wrapper .admit-detail-wrapper-r {
  float: left;
}
/* line 110, ../sass/ipd.scss */
.admit-detail-wrapper .admit-detail-wrapper-r .form-field .field-attribute label {
  width: 13em;
  text-align: left;
}

/* admit patient   css  end **/
/* bed management css start*/
/* line 116, ../sass/ipd.scss */
.bed-info {
  padding: 10px;
  background: #f1f1f1;
  display: inline-block;
  position: absolute;
  display: none;
  border: 2px solid #cecece;
  opacity: 0.90;
  z-index: 9999;
}
/* line 125, ../sass/ipd.scss */
.bed-info li {
  padding: 1px 5px;
  color: #000;
  text-align: center;
  font-size: 14px;
}
/* line 130, ../sass/ipd.scss */
.bed-info li:first-child {
  border-bottom: 1px solid #000;
  margin-bottom: 2px;
  font-weight: bold;
  font-family: arial;
}
/* line 136, ../sass/ipd.scss */
.bed-info li a {
  margin-left: 10px;
  background-color: #00463F;
  padding: 8px 10px;
  margin-top: 5px;
  color: #fff;
  text-transform: capitalize;
  display: inline-block;
  border: #012C28;
  border-radius: 5px;
}
/* line 146, ../sass/ipd.scss */
.bed-info li a:hover {
  background-color: #076158;
  text-decoration: none;
}

/* line 153, ../sass/ipd.scss */
.bed-assignment {
  position: relative;
  width: 960px;
  border: 1px solid #cecece;
  margin: 0px auto;
  min-height: 200px;
  padding-bottom: 20px;
}
/* line 160, ../sass/ipd.scss */
.bed-assignment .row {
  overflow: hidden;
}
/* line 162, ../sass/ipd.scss */
.bed-assignment .row ul {
  overflow: hidden;
}
/* line 164, ../sass/ipd.scss */
.bed-assignment .row ul .col {
  float: left;
  width: 50px;
  height: 50px;
  margin: 18px;
}
/* line 170, ../sass/ipd.scss */
.bed-assignment .row ul .col.occupied {
  background: url("../images/bed.png") no-repeat center center #cecece;
}
/* line 172, ../sass/ipd.scss */
.bed-assignment .row ul .col.occupied:hover {
  outline: 5px solid #B4B2B2;
  background-color: #B4B2B2;
  cursor: pointer;
}
/* line 178, ../sass/ipd.scss */
.bed-assignment .row ul .col.available {
  background: url("../images/bed-available.png") no-repeat center center #94e594;
}
/* line 180, ../sass/ipd.scss */
.bed-assignment .row ul .col.available:hover {
  background-color: #76E676;
  outline: 5px solid #76E676;
  cursor: pointer;
}
/* line 185, ../sass/ipd.scss */
.bed-assignment .row ul .col.path {
  background: beige;
  margin: 0px;
  padding: 18px;
}

@media only screen and (max-width: 1200px) {
  /* line 199, ../sass/ipd.scss */
  body {
    font-size: 90%;
  }
}
@media only screen and (max-width: 760px) {
  /* line 202, ../sass/ipd.scss */
  body {
    width: 760px;
  }
}
