/* line 41, ../sass/_grid.scss */
body {
  width: 100%;
  *zoom: 1;
}
/* line 27, ../sass/_grid.scss */
body:before, body:after {
  content: "";
  display: table;
}
/* line 31, ../sass/_grid.scss */
body:after {
  clear: both;
}

/* line 11, ../sass/_jss-ui-common.scss */
body {
  max-width: 1280px;
  font-size: 100%;
  line-height: 1.1em;
}

/* line 16, ../sass/_jss-ui-common.scss */
header {
  position: relative;
  color: #CCC;
  border-radius: 0px;
}
/* line 20, ../sass/_jss-ui-common.scss */
header .header-logo {
  background: url("../images/jss_logo.png") no-repeat scroll left top transparent;
  color: #ffffff;
  display: block;
  font-size: 1.5em;
  height: 32px;
  margin: 4px 0px 0px 5px;
  padding: 11px 0px 0px 49px;
  text-decoration: none;
  line-height: 15px;
  float: left;
}
/* line 32, ../sass/_jss-ui-common.scss */
header ul {
  float: right;
}
/* line 34, ../sass/_jss-ui-common.scss */
header ul li {
  margin: 11px 15px 10px 0px;
  display: inline-block;
}
/* line 37, ../sass/_jss-ui-common.scss */
header ul li a {
  color: #f2f2f2;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
/* line 42, ../sass/_jss-ui-common.scss */
header ul li a .nav-link {
  padding-left: 2px;
}
/* line 44, ../sass/_jss-ui-common.scss */
header ul li a .nav-link:hover {
  text-decoration: underline;
}

/******** form element styling start********/
/* line 54, ../sass/_jss-ui-common.scss */
form fieldset {
  border: none;
  padding: 0px;
}
/* line 58, ../sass/_jss-ui-common.scss */
form .form-field {
  overflow: hidden;
  *zoom: 1;
}
/* line 60, ../sass/_jss-ui-common.scss */
form .form-field .field-attribute {
  float: left;
}
/* line 62, ../sass/_jss-ui-common.scss */
form .form-field .field-attribute label {
  width: 13em;
  float: left;
  text-align: right;
  margin: 0.5em 0.8em 0em 0em;
}
/* line 69, ../sass/_jss-ui-common.scss */
form .form-field .field-value {
  float: left;
}
/* line 71, ../sass/_jss-ui-common.scss */
form .form-field .field-value input[type="text"], form .form-field .field-value .input-prepend [type="text"].add-on, form .input-prepend .form-field .field-value [type="text"].add-on, form .form-field .field-value input[type="password"], form .form-field .field-value .input-prepend [type="password"].add-on, form .input-prepend .form-field .field-value [type="password"].add-on {
  float: left;
  width: 12.5em;
}
/* line 75, ../sass/_jss-ui-common.scss */
form .form-field .field-value input[type="number"], form .form-field .field-value .input-prepend [type="number"].add-on, form .input-prepend .form-field .field-value [type="number"].add-on {
  width: 8em;
}
/* line 78, ../sass/_jss-ui-common.scss */
form .form-field .field-value span.value-text-only {
  display: inline-block;
  margin: 0.5em 0.8em 0em 0em;
}
/* line 84, ../sass/_jss-ui-common.scss */
form .input-prepend {
  float: left;
}
/* line 86, ../sass/_jss-ui-common.scss */
form .input-prepend input, form .input-prepend .add-on {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  float: left;
  margin: 0px !important;
}
/* line 93, ../sass/_jss-ui-common.scss */
form .input-prepend .add-on {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  height: 21px;
  min-width: 17px;
  padding: 4px 5px;
  background-color: #eee;
  border: 1px solid #ccc;
}
/* line 104, ../sass/_jss-ui-common.scss */
form .input-prepend .add-on:first-child, form .input-prepend .btn:first-child {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
/* line 109, ../sass/_jss-ui-common.scss */
form .input-prepend .add-on, form .input-prepend .btn {
  margin-right: -1px;
}
/* line 112, ../sass/_jss-ui-common.scss */
form input[disabled], form .input-prepend [disabled].add-on, form select[disabled], form textarea[disabled], form input[readonly], form .input-prepend [readonly].add-on, form select[readonly], form textarea[readonly] {
  cursor: not-allowed;
  background-color: #eee;
}
/* line 115, ../sass/_jss-ui-common.scss */
form input[disabled]:focus, form .input-prepend [disabled].add-on:focus, form select[disabled]:focus, form textarea[disabled]:focus, form input[readonly]:focus, form .input-prepend [readonly].add-on:focus, form select[readonly]:focus, form textarea[readonly]:focus {
  cursor: not-allowed;
  background-color: #eee;
  outline: none;
}
/* line 121, ../sass/_jss-ui-common.scss */
form .form-button-wrapper {
  margin-top: 10px;
  text-align: center;
}

/* line 126, ../sass/_jss-ui-common.scss */
.input-mini {
  display: inline;
  float: left;
  width: 6.25%;
  margin: 0 1.04167%;
}

/* line 127, ../sass/_jss-ui-common.scss */
.input-small {
  display: inline;
  float: left;
  width: 14.58333%;
  margin: 0 1.04167%;
}

/* line 128, ../sass/_jss-ui-common.scss */
.input-medium {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.04167%;
}

/* line 129, ../sass/_jss-ui-common.scss */
.input-large {
  display: inline;
  float: left;
  width: 47.91667%;
  margin: 0 1.04167%;
}

/* line 130, ../sass/_jss-ui-common.scss */
.input-xlarge {
  display: inline;
  float: left;
  width: 64.58333%;
  margin: 0 1.04167%;
}

/* line 131, ../sass/_jss-ui-common.scss */
.input-xxlarge {
  display: inline;
  float: left;
  width: 81.25%;
  margin: 0 1.04167%;
}

/* line 132, ../sass/_jss-ui-common.scss */
.span1 {
  display: inline;
  float: left;
  width: 6.25%;
  margin: 0 1.04167%;
}

/* line 135, ../sass/_jss-ui-common.scss */
.span2 {
  display: inline;
  float: left;
  width: 14.58333%;
  margin: 0 1.04167%;
}

/* line 138, ../sass/_jss-ui-common.scss */
.span3 {
  display: inline;
  float: left;
  width: 22.91667%;
  margin: 0 1.04167%;
}

/* line 141, ../sass/_jss-ui-common.scss */
.span4 {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.04167%;
}

/* line 144, ../sass/_jss-ui-common.scss */
.span5 {
  display: inline;
  float: left;
  width: 39.58333%;
  margin: 0 1.04167%;
}

/* line 147, ../sass/_jss-ui-common.scss */
.span6 {
  display: inline;
  float: left;
  width: 47.91667%;
  margin: 0 1.04167%;
}

/* line 150, ../sass/_jss-ui-common.scss */
.span7 {
  display: inline;
  float: left;
  width: 56.25%;
  margin: 0 1.04167%;
}

/* line 153, ../sass/_jss-ui-common.scss */
.span8 {
  display: inline;
  float: left;
  width: 64.58333%;
  margin: 0 1.04167%;
}

/* line 156, ../sass/_jss-ui-common.scss */
.span9 {
  display: inline;
  float: left;
  width: 72.91667%;
  margin: 0 1.04167%;
}

/* line 159, ../sass/_jss-ui-common.scss */
.span10 {
  display: inline;
  float: left;
  width: 81.25%;
  margin: 0 1.04167%;
}

/* line 162, ../sass/_jss-ui-common.scss */
.span11 {
  display: inline;
  float: left;
  width: 89.58333%;
  margin: 0 1.04167%;
}

/* line 165, ../sass/_jss-ui-common.scss */
.span12 {
  display: inline;
  float: left;
  width: 97.91667%;
  margin: 0 1.04167%;
}

/********* form element styling end***********/
/* line 170, ../sass/_jss-ui-common.scss */
.content-wrapper {
  background: #fff;
  overflow: hidden;
  *zoom: 1;
  padding: 20px 10px 10px 10px;
}

/* line 4, ../sass/ipd.scss */
.table-filter-wrapper {
  padding: 0px 0px 15px;
  overflow: hidden;
}
/* line 7, ../sass/ipd.scss */
.table-filter-wrapper .search-box {
  float: left;
  position: relative;
}
/* line 10, ../sass/ipd.scss */
.table-filter-wrapper .search-box input, .table-filter-wrapper .search-box form .input-prepend .add-on, form .input-prepend .table-filter-wrapper .search-box .add-on {
  padding-right: 20px;
}
/* line 13, ../sass/ipd.scss */
.table-filter-wrapper .search-box span.icon-search {
  position: absolute;
  right: 7px;
  top: 10px;
}
/* line 19, ../sass/ipd.scss */
.table-filter-wrapper span.select-arrow {
  float: left;
  margin: 0em .8em;
}
/* line 23, ../sass/ipd.scss */
.table-filter-wrapper ul {
  float: right;
  margin-right: 20px;
  margin-top: 10px;
}
/* line 27, ../sass/ipd.scss */
.table-filter-wrapper ul li {
  float: left;
  margin-right: 20px;
  color: #00463f;
}

/* line 34, ../sass/ipd.scss */
.table {
  border: 1px solid #cecece;
  font-size: 16px;
  font-size: 1rem;
}
/* line 37, ../sass/ipd.scss */
.table .row {
  *zoom: 1;
  border-bottom: 1px solid #cecece;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.table .row:after {
  content: "";
  display: table;
  clear: both;
}
/* line 41, ../sass/ipd.scss */
.table .col {
  padding: 10px 0px;
  font-size: 14.4px;
  font-size: 0.9rem;
}
/* line 45, ../sass/ipd.scss */
.table .col1 {
  display: inline;
  float: left;
  width: 14.58333%;
  margin: 0 1.04167%;
  width: 50px;
  padding-top: 8px;
  padding-bottom: 5px;
}
/* line 51, ../sass/ipd.scss */
.table .col2 {
  display: inline;
  float: left;
  width: 14.58333%;
  margin: 0 1.04167%;
}
/* line 54, ../sass/ipd.scss */
.table .col3 {
  display: inline;
  float: left;
  width: 14.58333%;
  margin: 0 1.04167%;
}
/* line 57, ../sass/ipd.scss */
.table .col4 {
  display: inline;
  float: left;
  width: 22.91667%;
  margin: 0 1.04167%;
}
/* line 60, ../sass/ipd.scss */
.table .col5 {
  display: inline;
  float: left;
  width: 22.91667%;
  margin: 0 1.04167%;
}
/* line 63, ../sass/ipd.scss */
.table .table-header {
  background: #F0F0F0;
}
/* line 65, ../sass/ipd.scss */
.table .table-header .col {
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold;
}
/* line 72, ../sass/ipd.scss */
.table .table-body .row:hover {
  background: #F9F9F9;
}

/* line 78, ../sass/ipd.scss */
.admit-form {
  border: 1px solid #f1f1f1;
  padding: 10px;
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  /* line 89, ../sass/ipd.scss */
  body {
    font-size: 90%;
  }
}
@media only screen and (max-width: 500px) {
  /* line 92, ../sass/ipd.scss */
  body {
    font-size: 70%;
  }
}
