/* line 41, ../sass/_grid.scss */
body {
  width: 100%;
  *zoom: 1;
}
/* line 27, ../sass/_grid.scss */
body:before, body:after {
  content: "";
  display: table;
}
/* line 31, ../sass/_grid.scss */
body:after {
  clear: both;
}

/* line 11, ../sass/styles.scss */
body {
  max-width: 1200px;
  font-size: 100%;
  line-height: 1.6875;
}

/* line 16, ../sass/styles.scss */
header {
  position: relative;
  color: #CCC;
  border-radius: 0px;
}
/* line 20, ../sass/styles.scss */
header .header-logo {
  background: url('/images/../images/jss_logo.png?1372251511') no-repeat scroll left top transparent;
  color: #ffffff;
  display: block;
  font-size: 1.5em;
  height: 32px;
  margin: 4px 0px 0px 5px;
  padding: 11px 0px 0px 49px;
  text-decoration: none;
  line-height: 15px;
  float: left;
}
/* line 32, ../sass/styles.scss */
header ul {
  float: right;
}
/* line 34, ../sass/styles.scss */
header ul li {
  margin: 11px 15px 10px 0px;
  display: inline-block;
}
/* line 37, ../sass/styles.scss */
header ul li a {
  color: #f2f2f2;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
/* line 42, ../sass/styles.scss */
header ul li a .nav-link {
  padding-left: 2px;
}
/* line 44, ../sass/styles.scss */
header ul li a .nav-link:hover {
  text-decoration: underline;
}

/* line 52, ../sass/styles.scss */
.content-wrapper {
  background: #fff;
  overflow: hidden;
  *zoom: 1;
  padding: 20px 10px 10px 10px;
}

/* line 57, ../sass/styles.scss */
.table-filter-wrapper {
  padding: 0px 0px 10px;
}
/* line 59, ../sass/styles.scss */
.table-filter-wrapper select {
  margin-left: 10px;
}

/* line 63, ../sass/styles.scss */
.table {
  border: 1px solid #cecece;
  font-size: 16px;
  font-size: 1rem;
}
/* line 66, ../sass/styles.scss */
.table .row {
  *zoom: 1;
  border-bottom: 1px solid #cecece;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.table .row:after {
  content: "";
  display: table;
  clear: both;
}
/* line 70, ../sass/styles.scss */
.table .col {
  padding: 10px 0px;
  font-size: 14.4px;
  font-size: 0.9rem;
}
/* line 74, ../sass/styles.scss */
.table .col1 {
  display: inline;
  float: left;
  width: 14.58333%;
  margin: 0 1.04167%;
  width: 50px;
}
/* line 78, ../sass/styles.scss */
.table .col2 {
  display: inline;
  float: left;
  width: 14.58333%;
  margin: 0 1.04167%;
}
/* line 81, ../sass/styles.scss */
.table .col3 {
  display: inline;
  float: left;
  width: 14.58333%;
  margin: 0 1.04167%;
}
/* line 84, ../sass/styles.scss */
.table .col4 {
  display: inline;
  float: left;
  width: 22.91667%;
  margin: 0 1.04167%;
}
/* line 87, ../sass/styles.scss */
.table .col5 {
  display: inline;
  float: left;
  width: 22.91667%;
  margin: 0 1.04167%;
}
/* line 90, ../sass/styles.scss */
.table .table-header {
  background: #F0F0F0;
}
/* line 92, ../sass/styles.scss */
.table .table-header .col {
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold;
}
/* line 99, ../sass/styles.scss */
.table .table-body .row:hover {
  background: #F9F9F9;
}

/******** form element styling start********/
/* line 107, ../sass/styles.scss */
fieldset {
  border: none;
}

/* line 110, ../sass/styles.scss */
.form-field {
  margin-bottom: 10px;
  overflow: hidden;
  *zoom: 1;
}
/* line 113, ../sass/styles.scss */
.form-field .field-attribute {
  float: left;
}
/* line 115, ../sass/styles.scss */
.form-field .field-attribute label {
  width: 13em;
  line-height: 20px;
  float: left;
  text-align: right;
  margin: 8px 0.8em 8px 0px;
}
/* line 123, ../sass/styles.scss */
.form-field .field-value {
  float: left;
}
/* line 125, ../sass/styles.scss */
.form-field .field-value input[type="text"], .form-field .field-value .input-prepend [type="text"].add-on, .input-prepend .form-field .field-value [type="text"].add-on, .form-field .field-value input[type="password"], .form-field .field-value .input-prepend [type="password"].add-on, .input-prepend .form-field .field-value [type="password"].add-on {
  float: left;
  width: 12.5em;
}
/* line 129, ../sass/styles.scss */
.form-field .field-value input[type="number"], .form-field .field-value .input-prepend [type="number"].add-on, .input-prepend .form-field .field-value [type="number"].add-on {
  width: 8em;
}
/* line 132, ../sass/styles.scss */
.form-field .field-value span.text-only {
  display: inline-block;
  margin: 8px 5px 8px 5px;
}

/* line 138, ../sass/styles.scss */
.input-prepend {
  float: left;
}
/* line 140, ../sass/styles.scss */
.input-prepend input, .input-prepend .add-on {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  float: left;
  margin: 0px !important;
}
/* line 147, ../sass/styles.scss */
.input-prepend .add-on {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  height: 21px;
  min-width: 17px;
  padding: 4px 5px;
  background-color: #eee;
  border: 1px solid #ccc;
}

/* line 158, ../sass/styles.scss */
.input-prepend .add-on:first-child, .input-prepend .btn:first-child {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

/* line 163, ../sass/styles.scss */
.input-prepend .add-on, .input-prepend .btn {
  margin-right: -1px;
}

/* line 166, ../sass/styles.scss */
input[disabled], .input-prepend [disabled].add-on, select[disabled], textarea[disabled], input[readonly], .input-prepend [readonly].add-on, select[readonly], textarea[readonly] {
  cursor: not-allowed;
  background-color: #eee;
}
/* line 169, ../sass/styles.scss */
input[disabled]:focus, .input-prepend [disabled].add-on:focus, select[disabled]:focus, textarea[disabled]:focus, input[readonly]:focus, .input-prepend [readonly].add-on:focus, select[readonly]:focus, textarea[readonly]:focus {
  cursor: not-allowed;
  background-color: #eee;
  outline: none;
}

/********* form element styling end***********/
@media only screen and (max-width: 1200px) {
  /* line 181, ../sass/styles.scss */
  body {
    font-size: 90%;
  }
}
@media only screen and (max-width: 500px) {
  /* line 184, ../sass/styles.scss */
  body {
    font-size: 70%;
  }
}
