@import "jss-ui-common";
@import "compass";
html,body{
  height:100%;
}
.opd-header-wrapper{
        @include pie-clearfix;
        background:#00463F;
        header{
            width:960px;
            margin:0px auto;
            border-radius:0px;
            padding:2px;
            position:relative;
            .header-logo{
                background:url("../images/jss_logo.png") no-repeat left top;
                padding:10px 0px 7px 40px;
                float:left;
                margin-top:7px;
            }
            ul{
                &.header-tabs{
                    float:left;
                    margin-top:10px;
                }
                &.patient-info{
                    float:right;
                    li{
                      float:left;
                      margin:0px 10px 0px 0px;
                    }    
                }
                li{
                    @include font-size(0.9);
                    margin: 0px 15px 0px 0px;
                    &.logoff{
                        margin:4px 0px 0px 0px;
                        button{
                            padding:10px;
                            margin-top: 1px;
                            color:#fff;
                            background:#447772;
                            border:1px solid #00463F;
                            &:hover{
                              background:#4D9B92;
                           }
                        }
                    }   
                a{
                    padding-top:10px;
                    cursor:pointer;
                    
                 }
                }
            }
            .patient-detail{
                position:absolute;
                top:62px;
                right:10px;
                color:#F26522;
                z-index:999;
            }
        }
    }
    .roundImages{
    height: 40px;
    width: 40px;
    border-radius:50%;
    margin-top:4px;
}
/* patient queue   css  start **/
.table-filter-wrapper{
  padding:0px 0px 15px;
  overflow:hidden;
  .search-box{
  	float:left;
  	position:relative;
  	input{
  		padding-right:20px;
  	}
  	span.icon-search{
  		position:absolute;
  		right:7px;
  		top:10px;
  	}
  }
  span.select-arrow{
  	float: left;
    margin:0em .8em;
  }
  ul {
    float:right;
    margin-right: 20px;
    margin-top:10px;
    li{
      float:left;
      margin-right:20px;
      color:#00463f;
    }
  }
}
.table{
      border:1px solid #cecece;
      @include font-size(1);
      .row{
        @include pie-clearfix();
        border-bottom:1px solid #cecece;
      }
      .col{       
          padding:10px 0px;
            @include font-size(0.9);
        }
        .col1{
          @include column(2);
          width:50px;
          padding-top:8px;
          padding-bottom:5px;
        }
        .col2{
          @include column(2);
        } 
        .col3{
          @include column(2);
        }
        .col4{
          @include column(3);
        }
        .col5{
          @include column(3);
        }
      .table-header{
        background:#F0F0F0;
        .col{
          @include font-size(1);
          font-weight: bold;  
        }
      }
      .table-body{
        .row{
           &:hover{
             background:#F9F9F9;
          }
        }
      }
}
/* patient queue   css  start end **/
/* admit patient   css  start **/
.admit-form{
	padding:10px;
}
.admit-detail-wrapper{
  overflow:hidden;
  width:100%;
  label{
    font-size: 14px;
  }
  p{
    margin-bottom: 6px;
    font-size: 0.9em;
    color:#585656;
  }
  .admit-detail-wrapper-l{
    float:left;
    width: 14em;
    margin-bottom: 15px;
    margin-left:1em;
    .patient-photo{
      height:180px;
      width:180px;
      border:1px solid #cecece;
      background:#f1f1f1;
    }
  }
  .admit-detail-wrapper-r{
    float:left;
    .form-field .field-attribute label{ width:13em; text-align:left;}
    
  }
}
/* admit patient   css  end **/
/* bed management css start*/
.hide{
  display: none;
}
.bed-assignment {
  position: relative;
  width: 894px;
  border: 1px solid #cecece;
  margin: 0px auto;
  min-height: 200px;
  padding: 20px;
  text-align:center;
  .bed-assignment-inner-wrapper{
    display: inline-block;
  }
  .row {
    overflow: hidden;
    ul {
      overflow: hidden;
      .col {
        float: left;
        width: 50px;
        height: 50px;
        margin: 19px;
        &.occupied {
          background: url("../images/bed-occupied.png") no-repeat center center #cecece;
          &:hover{
            outline: 5px solid #B4B2B2;
            background-color: #B4B2B2;
            cursor: pointer;
          }
        }
        &.available{
          background: url("../images/bed-available.png") no-repeat center center #94e594;
          &:hover{
            background-color: #76E676;
            outline: 5px solid #76E676;
            cursor: pointer;
          }
        }
        &.empty {
          background: beige;
          margin: 0px;
          padding: 19px;
        }
      }
    }
  }
}
.bed-info{
  padding:10px;
  background:#f1f1f1;
  display: inline-block;
  position: absolute;
  display: none;
  border:2px solid #cecece;
  opacity:0.90;
  z-index:9999;
  li{
    padding:1px5px;
    color:#000;
    text-align: center;
    font-size: 14px;
    &:first-child{
      border-bottom:1px solid #000;
      margin-bottom: 2px;
      font-weight: bold;
      font-family:arial;
    }
    a{
      background-color:#00463F;
      padding:8px 10px;
      margin-top:5px;
      color:#fff;
      text-transform: capitalize ;
      display: inline-block;
      border:#012C28;
      border-radius:5px;
      &:hover{
        cursor:pointer;
        background-color:#076158;
        text-decoration: none;
      }
    }
  }
}
/*** bed management css end ***/
/** vitals css start **/
.vitals{
  padding:0px 0px 10px;
  .vitals-wrapper{
    padding:10px 0px;
  }
  .vitals-select{
    padding: 13px 12px 14px;
    background: #D5DFC7;
    margin-bottom: 20px;
    box-shadow: 1px 3px 4px #CECECE;
    button{
      margin-left:10px; 
    }
  }
}
/** vitals css end **/
/** drop down checklist ****/
*, *:before, *:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.btn-group, .btn-group-vertical {
position: relative;
display: inline-block;
vertical-align: middle;
}
.btn-group.open .dropdown-toggle {
-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-group .dropdown-toggle:active, .btn-group.open .dropdown-toggle {
outline: 0;
}
.btn-group>.btn:first-child {
margin-left: 0;
}
.btn-group>.btn, .btn-group-vertical>.btn {
position: relative;
float: left;
}
.btn {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: normal;
line-height: 1.428571429;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
border: 1px solid rgba(0, 0, 0, 0);
border-radius: 4px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}
.open>.dropdown-menu {
display: block;
}
.radio, .checkbox {
display: block;
min-height: 20px;
padding-left: 20px;
margin-top: 10px;
margin-bottom: 10px;
vertical-align: middle;
}
input[type="radio"], input[type="checkbox"] {
margin: 4px 0 0;
margin-top: 1px \9;
line-height: normal;
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
float: left;
margin-left: -20px;
}
.btn .caret {
margin-left: 0;
}
.caret {
display: inline-block;
width: 0;
height: 0;
margin-left: 2px;
vertical-align: middle;
border-top: 4px solid #000;
border-right: 4px solid rgba(0, 0, 0, 0);
border-bottom: 0 dotted;
border-left: 4px solid rgba(0, 0, 0, 0);
content: "";
}

.multiselect-container {
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.multiselect-container .input-group {
  margin: 5px;
}
.multiselect-container > li {
  padding: 0;
}
.multiselect-container > li > a.multiselect-all label {
  font-weight: bold;
}
.multiselect-container > li > label.multiselect-group {
  margin: 0;
  padding: 3px 20px 3px 20px;
  height: 100%;
}
.multiselect-container > li > a > label {
  margin: 0;
  height: 100%;
  cursor: pointer;
  font-weight: normal;
}
.multiselect-container > li > a > label.radio,
.multiselect-container > li > a > label.checkbox {
  margin: 0;
}
.multiselect-container > li > a > label > input[type="checkbox"] {
  margin-bottom: 5px;
}
.btn-group > .btn-group:nth-child(2) > .multiselect.btn {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
/*** drop doen css end **/

/* patient dashboard css start ***/

.consultation{
    @include pie-clearfix;
  margin:0px 0px 10px;
  color:#585858;
  .header-action{
    background:#ffffff;
    width:100px;
    margin:0px auto;
    position:relative;
  }
  h2{
        @include font-size(1.1);
    border-bottom:1px solid #00463f;
    color:#777575;
    padding-bottom:3px;
    margin-bottom:10px;
    font-weight: 700;
    font-family: arial;
  }
  .block{
    min-height:150px;
    padding:10px;
    .block-content{
      padding-left:20px;
      color:#5C5B5C;
      @include font-size(0.95);
    }
    &.investigation{
      li{
        display: inline-block;
        padding: 5px 7px;
        margin-right: 25px;
        margin-top: 10px;
        border-radius: 5px;
        font: 14px/18px verdana,arial;
        background:#efefef;
        .panel{
          background: #555454;
          color: #FFF;
          display: inline-block;
          width: 18px;
          text-align: center;
          height: 13px;
          padding: 2px 0px;
          font-size: 12px;
          border-radius: 10px;
          line-height: 15px;
        }
      }
    }
    &.diagnosis{
      h3{
        margin-bottom: 10px;
        color: #FFF;
        padding: 5px 5px;
        background: #2B97D5;
        @include font-size(0.95);
      }
      .block-content{
        @include clearfix();
      }
      .diagnosis-type{
          float:left;
          width:400px;
          div{
            margin-bottom: 8px;
          }
      }
      
    }
    &.treatment{
      ul{
        li{
          padding:6px 10px;
          .notes{
            color:#9C510B;
            margin-left:20px;
          }

        }
      }
    }
    &.disposition{
      ul{
        li{
            margin-bottom:10px;
          }
      }
    }
    .vitals-list{
      li{
        width:250px;
        float:left;
      }
    }
  }
  .notes{
    margin-top:20px;
    textarea{
        resize: none;
    }
  }
}
.patientdashboard,.particularvisit{
  overflow:hidden;
  .block-module{
    overflow:hidden;
    .block-content{
      height:220px;
      overflow:scroll;
    }
  }
  .pd-date{
        background:#dad4d4;
        padding:2px;
      }
    .pd-note{
      font-size: 13px;
    }
    h2{
      border-bottom:4px solid #00463F;
    }
    dd{
      -webkit-margin-start:10px;
    }
  .consultation{
    width:80%;
    float:left;
    .block{
      width:48%;
      float: left;
      &.investigation{
        width:98%;
      }
    }
    .investigation{
      li{
        background:none;
        display:block;
        margin-top:0px;
      }
    }
    .diagnosis{
      a{
        background:#fff;
      }
    }
}
  .block-content{
    ul li{
      padding:4px 10px;
      font-size:14px;
    }
  }
  .patientdashboard-action{
    width:20%;
    margin-top:40px;
    float:right;
    height:844px;
    background:#164453;
    h2{
      @include font-size(1.1);
      border-bottom:1px solid #00463f;
      color:#777575;
      padding-bottom:3px;
      margin-bottom:10px;
      font-weight: 700;
      font-family: arial;
    }
    .block{
      padding:10px;
    }

  .visit-history{
    min-height: 100px;
    max-height: 300px;
    overflow: scroll;
    ul{
        margin-right:5px;
        li{
          border-right:1px solid #fff;
          color:#fff;
          font-size: 12px;
          text-align:right;
          padding:15px 8px;
          &.active{
            background:#387C92;
          }
          &:hover{
            cursor:pointer;
            background:#245666;
          }
        }
      }
  }
  .patientdashboard-action-list{
         margin-top:20px;
         margin-bottom: 20px;
      li{
          padding:10px 0px;
          a{
            padding:5px 10px;
            color:#fff;
            text-align: center;
            cursor:pointer;
            text-decoration: none;
            font-size: 14px;
            &:hover{
             background:#99A2B1;
             color:#000;
            }

          }

      }
    
  }
}
}


@media only screen and (max-width: 768px) {
  body{width:760px;}
 }
@media only screen and (max-width: 1200px) {
                body { font-size:90%;}
 }