@import "jss-ui-common";


.table-filter-wrapper{
  padding:0px 0px 15px;
  overflow:hidden;
  .search-box{
  	float:left;
  	position:relative;
  	input{
  		padding-right:20px;
  	}
  	span.icon-search{
  		position:absolute;
  		right:7px;
  		top:10px;
  	}
  }
  span.select-arrow{
  	float: left;
    margin:0em .8em;
  }
  ul {
    float:right;
    margin-right: 20px;
    margin-top:10px;
    li{
      float:left;
      margin-right:20px;
      color:#00463f;
    }
  }
}
.table{
      border:1px solid #cecece;
      @include font-size(1);
      .row{
        @include pie-clearfix();
        border-bottom:1px solid #cecece;
      }
      .col{       
          padding:10px 0px;
            @include font-size(0.9);
        }
        .col1{
          @include column(2);
          width:50px;
          padding-top:8px;
          padding-bottom:5px;
        }
        .col2{
          @include column(2);
        } 
        .col3{
          @include column(2);
        }
        .col4{
          @include column(3);
        }
        .col5{
          @include column(3);
        }
      .table-header{
        background:#F0F0F0;
        .col{
          @include font-size(1);
          font-weight: bold;  
        }
      }
      .table-body{
        .row{
           &:hover{
             background:#F9F9F9;
          }
        }
      }
}
.admit-form{
	padding:10px;
}
.admit-detail-wrapper{
  overflow:hidden;
  width:100%;
  label{
    font-size: 14px;
  }
  p{
    margin-bottom: 6px;
    font-size: 0.9em;
    color:#585656;
  }
  .admit-detail-wrapper-l{
    float:left;
    width: 14em;
    margin-bottom: 15px;
    margin-left:1em;
    .patient-photo{
      height:180px;
      width:180px;
      border:1px solid #cecece;
      background:#f1f1f1;
    }
  }
  .admit-detail-wrapper-r{
    float:left;
    .form-field .field-attribute label{ width:13em; text-align:left;}
    
  }
}





@media only screen and (max-width: 1200px) {
                body { font-size:90%;}
 }
 @media only screen and (max-width: 760px) {
  body{width:760px;}
 }