
@import "grid";
@import "compass";

$total-width: 100%;
@mixin font-size($sizeValue: 1) {
  font-size: ($sizeValue * 16) + px;
  font-size: $sizeValue + rem;
}

body{
  max-width:1200px;
  font-size: 100%;
  line-height: 1.6875;
}
header {
    position: relative;
    color: #CCC;
    border-radius:0px;
    .header-logo{
      background: image-url("../images/jss_logo.png") no-repeat scroll left top transparent;
      color: #ffffff;
      display: block;
      font-size: 1.5em;
      height: 32px;
      margin:4px 0px 0px 5px;
      padding:11px 0px 0px 49px;
      text-decoration:none; 
      line-height:15px;
      float:left;
    }
    ul{
      float:right;
      li{
        margin:11px 15px 10px 0px;
        display:inline-block;
        a{
          color:#f2f2f2;
          font-weight:bold;
          cursor:pointer;
          text-decoration:none;
          .nav-link{
            padding-left:2px;
            &:hover{
              text-decoration:underline;
            }
          }
       }
      }
    }
}
.content-wrapper{
    background:#fff;
    @include clearfix();
    padding:20px 10px 10px 10px;
}
.table-filter-wrapper{
  padding:0px 0px 10px;
  select{
    margin-left:10px;
  }
}
.table{
      border:1px solid #cecece;
      @include font-size(1);
      .row{
        @include pie-clearfix();
        border-bottom:1px solid #cecece;
      }
      .col{       
          padding:10px 0px;
            @include font-size(0.9);
        }
        .col1{
          @include column(2);
          width:50px;
        }
        .col2{
          @include column(2);
        } 
        .col3{
          @include column(2);
        }
        .col4{
          @include column(3);
        }
        .col5{
          @include column(3);
        }
      .table-header{
        background:#F0F0F0;
        .col{
          @include font-size(1);
          font-weight: bold;  
        }
      }
      .table-body{
        .row{
           &:hover{
             background:#F9F9F9;
          }
        }
      }
}

/******** form element styling start********/
fieldset{
  border:none;
}
.form-field{
  margin-bottom:10px;
  @include clearfix();
  .field-attribute{
    float:left;
    label{
        width:13em;
        line-height:20px;
        float:left;
        text-align:right;
        margin:8px 0.8em 8px 0px;
    }
  }
  .field-value{
    float:left;
     input[type="text"],input[type="password"]{  
        float:left;
        width:12.5em;
    }
    input[type="number"]{
        width:8em;
    }
    span.text-only{
       display:inline-block;
       margin:8px 5px 8px 5px;
    }
  }
}
.input-prepend{
  float:left;
  input{
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
      float:left;
      margin:0px !important;
  }
  .add-on{
    @extend input;
    @include border-radius();  
    height: 21px;
    min-width: 17px;
    padding: 4px 5px;
    background-color: #eee;
    border: 1px solid #ccc;
  }

}
.input-prepend .add-on:first-child, .input-prepend .btn:first-child {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.input-prepend .add-on, .input-prepend .btn{
  margin-right:-1px;
}
input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly]{
  cursor: not-allowed;
  background-color: #eee;
  &:focus{
    cursor: not-allowed;
    background-color: #eee;
    outline:none;
  }
}

/********* form element styling end***********/



@media only screen and (max-width: 1200px) {
                body { font-size:90%;}
 }
 @media only screen and (max-width: 500px) {
                body { font-size:70%;}
 }