<header class="reg-header ng-scope" ng-controller="NavigationController" ng-hide="onLoginPage()" style="">
      <a class="header-logo" href="#/search">Jan Swasthya Sahyog</a>
      <ul>
          <li>
              <a ng-click="logout()"><i class="icon-off icon-white small"></i><span class="nav-link">Logout</span></a>
          </li>
      </ul>
</header>
<div class="content-wrapper">
	<h1> Admit Patient</h1>
	<form class="admit-form">
	<fieldset>
		<div class="admit-detail-wrapper">
			<div class="admit-detail-wrapper-l">
				<div class="patient-photo">
				</div>
			</div>
			<div class="admit-detail-wrapper-r">
				<div class="form-field">
				   <p class="field-value"><span class="value-text-only">Gan111</span> 
				</p>
				</div>
				<div class="form-field">
				  <p class="field-value"><span class="value-text-only">Ram Singh</span></p>
				</div>
				<div class="form-field">
				   <p class="field-value"><span class="value-text-only">28</span> </p>
				</div>
				<div class="form-field">
				 <p class="field-value"><span class="value-text-only">Male</span> </p>
				</div>
				<div class="form-field">
				  <p class="field-value"><span class="value-text-only">Ganiyari</span> </p><p class="field-attribute"><label> (Village)</label></p> 
				</div>
				<div class="form-field">
				  <p class="field-value"><span class="value-text-only">XXXXXX</span> </p><p class="field-attribute"><label> (Father/Husband Name)</label></p>
				</div>
			</div>
		</div>
		
	 </fieldset>

				
	 <fieldset>
		<div class="form-field">
		  <p class="field-attribute"><label> Ward Types:</label></p> 
		  <p class="field-value">
		  	<span class="select-arrow">
                <select>
                	<option>Select Ward</option>
                    <option>Antepartum Ward</option>
		            <option>Community Health</option>
		            <option>Dental</option>
		            <option> Emergency</option>
		            <option>Labor and Delivery</option>
		            <option>NICU</option>
		            <option> Outpatient Clinic</option>
		            <option>Pediatrics</option>
		            <option> Postpartum Ward</option>
                </select>
            </span>
           </p>
		</div>
	 </fieldset>

	 <fieldset>
		<div class="form-field">
		  <p class="field-attribute"><label> Notes:</label></p> 
		  <p class="field-value">
		  		<textarea></textarea>
           </p>
		</div>
	 </fieldset>

	 <fieldset>
		<div class="form-field">
		  <p class="field-attribute"><label> Days:</label></p> 
		  <p class="field-value"><input type="number" /></p>
		</div>
	 </fieldset>
	 <div class="form-button-wrapper">
	 <a href="#/queue" class="button confirm">Admit</a>
	</div>
</form>
</div>










