<header class="reg-header ng-scope" ng-controller="NavigationController" ng-hide="onLoginPage()" style="">
                        <a class="header-logo" href="#/search">Jan Swasthya Sahyog</a>
                        <ul>
                            <li>
                                <a ng-click="logout()"><i class="icon-off icon-white small"></i><span class="nav-link">Logout</span></a>
                            </li>
                        </ul>
                </header>
<div class="content-wrapper">
	<fieldset>
		<div class="form-field">
		  <p class="field-attribute"><label>First Name:</label> <p class="field-value"><input type="text"> </p> 		  <p class="field-attribute"><label>Last Name:</label> <p class="field-value"><input type="text"> </p>

		</div>
		<div class="form-field">
			<p class="field-attribute"><label>Father's Name:</label> <p class="field-value"><input type="text"> </p>
		</div>
	 </fieldset>
</div>
