<header class="reg-header ng-scope" ng-controller="NavigationController" ng-hide="onLoginPage()">
                        <a class="header-logo" href="#/search">Jan Swasthya Sahyog</a>
                        <ul>
                            <li>
                                <a ng-click="logout()"><i class="icon-off icon-white small"></i><span class="nav-link">Logout</span></a>
                            </li>
                        </ul>
   </header>
   
<div class="content-wrapper">
		
<div class="bed-assignment">
  <ul>
      <li class="row">
          <ul>
              <li class="col occupied"></li>
              <li class="col"></li>
              <li class="col occupied"></li>
              <li class="col available"></li>
              <li class="col occupied"></li>
              <li class="col occupied"></li>
              <li class="col occupied"></li>
              <li class="col"></li>
              <li class="col available"></li>
              <li class="col occupied"></li>
              <li class="col occupied"></li>
              <li class="col occupied"></li>
              <li class="col occupied"></li>
          </ul>
      </li>
      <li class="row">
          <ul>
              <li class="col occupied"></li>
              <li class="col occupied"></li>
              <li class="col occupied"></li>
              <li class="col available"></li>
              <li class="col occupied"></li>
              <li class="col "></li>
              <li class="col occupied"></li>
              <li class="col occupied"></li>
              <li class="col occupied"></li>
              <li class="col occupied"></li>
              <li class="col occupied"></li>
              <li class="col occupied"></li>
              <li class="col available"></li>
          </ul>
      </li>
      <li class="row">
          <ul>
              <li class="col occupied"></li>
              <li class="col occupied"></li>
              <li class="col occupied"></li>
              <li class="col available"></li>
              <li class="col occupied"></li>
              <li class="col occupied"></li>
              <li class="col occupied"></li>
              <li class="col occupied"></li>
              <li class="col occupied"></li>
              <li class="col occupied"></li>
              <li class="col occupied"></li>
              <li class="col available"></li>
              <li class="col available"></li>
          </ul>
      </li>
      <li class="row">
          <ul>
              <li class="col occupied"></li>
              <li class="col "></li>
              <li class="col occupied"></li>
              <li class="col available"></li>
              <li class="col occupied"></li>
              <li class="col available"></li>
              <li class="col occupied"></li>
              <li class="col occupied"></li>
              <li class="col occupied"></li>
              <li class="col "></li>
              <li class="col occupied"></li>
              <li class="col occupied"></li>
              <li class="col available"></li>
            </ul>
      </li>
      <li class="row">
          <ul>
              <li class="col occupied"></li>
              <li class="col occupied"></li>
              <li class="col occupied"></li>
              <li class="col available"></li>
              <li class="col occupied"></li>
              <li class="col"></li>
              <li class="col occupied"></li>
              <li class="col occupied"></li>
              <li class="col occupied"></li>
              <li class="col occupied"></li>
              <li class="col occupied"></li>
              <li class="col occupied"></li>
              <li class="col available"></li>
          </ul>
      </li>
  </ul>
</div>
</div>

<script>


</script>

