<header class="reg-header ng-scope" ng-controller="NavigationController" ng-hide="onLoginPage()">
                        <a class="header-logo" href="#/search">Jan Swasthya Sahyog</a>
                        <ul>
                            <li>
                                <a ng-click="logout()"><i class="icon-off icon-white small"></i><span class="nav-link">Logout</span></a>
                            </li>
                        </ul>
   </header>
   
<div class="content-wrapper">
<div class="bed-info">
  <ul>
      <li>X12</li>
      <li>Ram Kumar</li>
      <li>GAN20002</li>
      <li><a href="">visit profile</a></li>
  </ul>
</div>
<div class="bed-assignment">
  
  <ul>
      <li class="row">
          <ul>
              <li class="col occupied"></li>
              <li class="col available"></li>
              <li class="col occupied"></li>
              <li class="col available"></li>
              <li class="col occupied"></li>
              <li class="col occupied"></li>
              <li class="col occupied"></li>
              <li class="col available"></li>
              <li class="col available"></li>
              <li class="col occupied"></li>
              <li class="col occupied"></li>
              
          </ul>
      </li>
      <li class="row">
          <ul>
              <li class="col occupied"></li>
              <li class="col path"></li>
              <li class="col path"></li>
              <li class="col path"></li>
              <li class="col path"></li>
              <li class="col path"></li>
              <li class="col path"></li>
              <li class="col path"></li>
              <li class="col path"></li>
              <li class="col path"></li>
              <li class="col path"></li>
              
          </ul>
      </li>
      <li class="row">
          <ul>
              <li class="col occupied"></li>
              <li class="col path"></li>
              <li class="col occupied"></li>
              <li class="col available"></li>
              <li class="col occupied"></li>
              <li class="col available"></li>
              <li class="col occupied"></li>
              <li class="col occupied"></li>
              <li class="col path"></li>
              <li class="col occupied"></li>
              <li class="col occupied"></li>
             
          </ul>
      </li>
      <li class="row">
          <ul>
              <li class="col occupied"></li>
              <li class="col path"></li>
              <li class="col path"></li>
              <li class="col path"></li>
              <li class="col path"></li>
              <li class="col path"></li>
              <li class="col path"></li>
              <li class="col path"></li>
              <li class="col path"></li>
              <li class="col path"></li>
              <li class="col occupied"></li>
             
            </ul>
      </li>
      <li class="row">
          <ul>
              <li class="col occupied"></li>
              <li class="col path"></li>
              <li class="col occupied"></li>
              <li class="col available"></li>
              <li class="col occupied"></li>
              <li class="col occupied"></li>
              <li class="col occupied"></li>
              <li class="col occupied"></li>
              <li class="col occupied"></li>
              <li class="col available"></li>
              <li class="col occupied"></li>
              
          </ul>
      </li>
  </ul>
</div>
</div>

<script>
$(function(){
$(".bed-assignment li.occupied").click(function(){
    var leftpos=$(this).offset().left+$(this).width();
    var toppos=$(this).offset().top+25;
    $(".bed-info").show();
    $(".bed-info").css('left',leftpos);
    $(".bed-info").css('top',toppos);
  });
$(".bed-assignment li.available,.bed-assignment li.path").click(function(){
    $(".bed-info").hide();
})

$("body").on('click', function(ev) {
    var myID = ev.target.id;
    if (myID !== 'popup') {
        $('#popup').hide();
    }
});
});

</script>

