<header class="reg-header ng-scope" ng-controller="NavigationController" ng-hide="onLoginPage()" style="">
                        <a class="header-logo" href="#/search">Jan Swasthya Sahyog</a>
                        <ul>
                            <li>
                                <a ng-click="logout()"><i class="icon-off icon-white small"></i><span class="nav-link">Logout</span></a>
                            </li>
                        </ul>
                </header>
<div class="content-wrapper">
	

		</>	
</div>

