<div class="investigation-wrapper">

<div class="tree-container">
	<div class="investigation-l">
		<div class="sample-block">
		<h2>Sample</h2>
		<ul>
			<li><a href="#">Blood (EDTA)</a></li>
			<li><a href="#">Serum</a></li>
			<li><a href="#">Urine</a></li>
			<li><a href="#">Body Fluid</a></li>
			<li><a href="#">Stool</a></li>
			<li><a href="#">Semen</a></li>
			<li><a href="#">Vaginal</a></li>
		</ul>
	</div>
	</div>
	<div class="investigation-r">
		<div class="test-block">
			<h2>Panel</h2>
			<ul>
				<li><a href="#">Anaemia Panel</a></li>
				<li><a href="#">Cross Match</a></li>
				<li><a href="#">Coagulation Factor</a></li>
				<li><a href="#">Serology</a></li>
				<li><a href="#">Routine Blood</a></li>
			</ul>
		</div>
		<div class="test-block">
			<h2>Department A</h2>
			<ul>
				<li><a href="#">Hb1AC</a></li>
				<li><a href="#">Hb Electrophoresis</a></li>
				<li><a href="#" class="testselected">Haemoglobin</a></li>
				<li><a href="#">CD4 Test</a></li>
				<li><a href="#">Basophil</a></li>
			</ul>
		</div>
		<div class="test-block">
			<h2>Department B</h2>
			<ul>
				<li><a href="#">Reticulocyte Count</a></li>
				<li><a href="#">Anti Streptolysin Qualitative</a></li>
				<li><a href="#">Anti Streptolysin Turbidometry</a></li>
				<li><a href="#">HbsAg ELISA</a></li>
				<li><a href="#">HbsAg Rapid</a></li>
				<li><a href="#">Rheumatoid Arthritis - Qualitative</a></li>
			</ul>
		</div>
		<div class="test-block">
			<h2>Department C</h2>
			<ul>
				<li><a href="#">APTT (Control) (Blood)</a></li>
				<li><a href="#">APTT (Test) (Blood)</a></li>
				<li><a href="#">Bleeding Time</a></li>
				<li><a href="#">Clotting Time</a></li>
				<li><a href="#">Blood Group (Relative)</a></li>
				<li><a href="#">Haemoglobin (Relative)</a></li>
				<li><a href="#">Malaria Parasite</a></li>
				<li><a href="#">Patient Blood Group</a></li>
			</ul>
		</div>
		<div class="test-block">
			<h2>Department D</h2>
			<ul>
				<li><a href="#">Absolute Eosinphil Count</a></li>
				<li><a href="#">Hb Electrophoresis</a></li>
				<li><a href="#">MCH</a></li>
				<li><a href="#">MCHC</a></li>
				<li><a href="#">MCV</a></li>
			</ul>
		</div>
		<div class="test-block">
			<h2>Department E</h2>
			<ul>
				<li><a href="#">Packed Cell Volume (PCV)</a></li>
				<li><a href="#">Platelet Count</a></li>
			</ul>
		</div>
	</div>

</div>
</div>

<!-- 
<div class="investigation-wrapper">
<ul class="commontest-list">
<li><a href="#"><input type="checkbox">Grand Total</a></li>
<li><a href="#"><input type="checkbox">Haemoglobin</a></li>
<li><a href="#"><input type="checkbox">Pus Cells (Urine)</a></li>
<li><a href="#"><input type="checkbox">RBC (Urine)</a></li>
<li><a href="#"><input type="checkbox">Epithelial Cells</a></li>
<li><a href="#"><input type="checkbox">Albumin</a></li>
<li><a href="#"><input type="checkbox">Sugar (Routine Urine)</a></li>
<li><a href="#"><input type="checkbox">RBS</a></li>
<li><a href="#"><input type="checkbox">Total Leucocyte Count (Blood)</a></li>
<li><a href="#"><input type="checkbox">Others (Urine)</a></li>
<li><a href="#"><input type="checkbox">Creatinine</a></li>
<li><a href="#"><input type="checkbox">Polymorph</a></li>
<li><a href="#"><input type="checkbox">Lymphocyte</a></li>
<li><a href="#"><input type="checkbox">Eosinophil</a></li>
<li><a href="#"><input type="checkbox">Platelet Count</a></li>
<li><a href="#"><input type="checkbox">FBS</a></li>
<li><a href="#"><input type="checkbox">ZN Stain (Sputum)</a></li>
<li><a href="#"><input type="checkbox">HIV ELISA (Blood)</a></li>
<li><a href="#"><input type="checkbox">PP2BS</a></li>
<li><a href="#"><input type="checkbox">ESR</a></li>
<li><a href="#"><input type="checkbox">Sickling Test</a></li>
<li><a href="#"><input type="checkbox">Cast</a></li>
<li><a href="#"><input type="checkbox">PS for RBC Morphology</a></li>
<li><a href="#"><input type="checkbox">Monocyte</a></li>
<li><a href="#"><input type="checkbox">Patient Blood Group</a></li>
<li><a href="#"><input type="checkbox">Basophil</a></li>
<li><a href="#"><input type="checkbox">Malaria Parasite</a></li>
<li><a href="#"><input type="checkbox">PS for Malaria Parasites</a></li>
<li><a href="#"><input type="checkbox">MCV</a></li>
<li><a href="#"><input type="checkbox">Crystal                                        </a></li>
<li><a href="#"><input type="checkbox">Yeast Cell</a></li>
<li><a href="#"><input type="checkbox">S. ALT </a></li>
<li><a href="#"><input type="checkbox">Urine Pregnancy Test</a></li>
<li><a href="#"><input type="checkbox">Vaginal Trichomonas</a></li>
<li><a href="#"><input type="checkbox">Absolute Eosinphil Count</a></li>
<li><a href="#"><input type="checkbox">Potassium</a></li>
<li><a href="#"><input type="checkbox">Sodium</a></li>
<li><a href="#"><input type="checkbox">Hb Electrophoresis</a></li>
<li><a href="#"><input type="checkbox">MCHC</a></li>
<li><a href="#"><input type="checkbox">MCH</a></li>
<li><a href="#"><input type="checkbox">Cholesterol</a></li>
<li><a href="#"><input type="checkbox">HbsAg Rapid</a></li>
<li><a href="#"><input type="checkbox">Routine Microbiology Culture (Urine)</a></li>
<li><a href="#"><input type="checkbox">Blood Group (Relative)</a></li>
<li><a href="#"><input type="checkbox">S. Albumin</a></li>
<li><a href="#"><input type="checkbox">Cross Match</a></li>
<li><a href="#"><input type="checkbox">Pre Dinner Sugar</a></li>
<li><a href="#"><input type="checkbox">VDRL Rapid</a></li>
<li><a href="#"><input type="checkbox">Calcium (mmole/l)</a></li>
<li><a href="#"><input type="checkbox">Prothrombin Time (Control) (Blood)</a></li>
<li><a href="#"><input type="checkbox">TSH</a></li>
<li><a href="#"><input type="checkbox">T3</a></li>
<li><a href="#"><input type="checkbox">HbsAg ELISA</a></li>
<li><a href="#"><input type="checkbox">HIV Tridot</a></li>
<li><a href="#"><input type="checkbox">Prothrombin Time (Test) (Blood)</a></li>
<li><a href="#"><input type="checkbox">T4</a></li>
<li><a href="#"><input type="checkbox">INR Ratio (Blood)</a></li>
<li><a href="#"><input type="checkbox">HIV ELISA (Serum)                           </a></li>
<li><a href="#"><input type="checkbox">Prothrombin Time (Test) (Serum)</a></li>
<li><a href="#"><input type="checkbox">Montoux Test</a></li>
<li><a href="#"><input type="checkbox">Pus Cells (Stool)</a></li>
<li><a href="#"><input type="checkbox">Calcium(mg/dl)</a></li>
<li><a href="#"><input type="checkbox">RBC (Stool)</a></li>
<li><a href="#"><input type="checkbox">Reticulocyte Count</a></li>
<li><a href="#"><input type="checkbox">INR Ratio (Serum)</a></li>
<li><a href="#"><input type="checkbox">Ova/Parasite/Cyst</a></li>
<li><a href="#"><input type="checkbox">Phosphorous</a></li>
<li><a href="#"><input type="checkbox">RBC Count</a></li>
<li><a href="#"><input type="checkbox">Direct Bilirubin</a></li>
<li><a href="#"><input type="checkbox">Prothrombin Time (Control) (Serum)</a></li>
<li><a href="#"><input type="checkbox">RA Factor - Qualitative</a></li>
<li><a href="#"><input type="checkbox">Total Bilirubin</a></li>
<li><a href="#"><input type="checkbox">Urine Ketone</a></li>
<li><a href="#"><input type="checkbox">ZN Stain (Pus)</a></li>
<li><a href="#"><input type="checkbox">ALK. Phosphate</a></li>
<li><a href="#"><input type="checkbox">Gram Stain (Pus)</a></li>
<li><a href="#"><input type="checkbox">Parallel Urine Sugar (120 mins)</a></li>
<li><a href="#"><input type="checkbox">Differential Count (CSF)</a></li>
<li><a href="#"><input type="checkbox">Gram Stain (CSF)</a></li>
<li><a href="#"><input type="checkbox">Gram Stain (Sputum)</a></li>
<li><a href="#"><input type="checkbox">Protein (CSF)</a></li>
<li><a href="#"><input type="checkbox">Scrapping for Fungus</a></li>
<li><a href="#"><input type="checkbox">Stool occult blood</a></li>
<li><a href="#"><input type="checkbox">Sugar (CSF)</a></li>
<li><a href="#"><input type="checkbox">Total Leucocyte Count (CSF)</a></li>
<li><a href="#"><input type="checkbox">Bend Cell</a></li>
<li><a href="#"><input type="checkbox">HCV ELISA</a></li>
<li><a href="#"><input type="checkbox">Magnesium</a></li>
<li><a href="#"><input type="checkbox">ZN Stain (CSF)</a></li>
<li><a href="#"><input type="checkbox">ZN Stain (Slit Skin)</a></li>
<li><a href="#"><input type="checkbox">Culture (CSF)</a></li>
<li><a href="#"><input type="checkbox">S. Protein</a></li>
<li><a href="#"><input type="checkbox">Culture (Pus)</a></li>
<li><a href="#"><input type="checkbox">Cytology (CSF)</a></li>
<li><a href="#"><input type="checkbox">Others (Stool with concentration)</a></li>
<li><a href="#"><input type="checkbox">Pendy Reagent Test</a></li>
<li><a href="#"><input type="checkbox">PSA</a></li>
<li><a href="#"><input type="checkbox">RA Factor - Turbidometry</a></li>
<li><a href="#"><input type="checkbox">S. AST</a></li>
<li><a href="#"><input type="checkbox">S. Triglyceride</a></li>
<li><a href="#"><input type="checkbox">WIDAL Qualitative</a></li>
<li><a href="#"><input type="checkbox">ZN Stain (Body Fluid) (Pus)</a></li>
<li><a href="#"><input type="checkbox">ANA</a></li>
<li><a href="#"><input type="checkbox">Anti Streptolysin Qualitative</a></li>
<li><a href="#"><input type="checkbox">Culture (Sputum)</a></li>
<li><a href="#"><input type="checkbox">Differential Count (Asitic Fluid)</a></li>
<li><a href="#"><input type="checkbox">Differential Count (Knee Joint Fluid)</a></li>
<li><a href="#"><input type="checkbox">Fat Droplets (w/o concentration)</a></li>
<li><a href="#"><input type="checkbox">Gram Stain (Asitic Fluid)</a></li>
<li><a href="#"><input type="checkbox">Gram Stain (Body Fluid) (Pus)</a></li>
<li><a href="#"><input type="checkbox">Gram Stain (Urine)</a></li>
<li><a href="#"><input type="checkbox">Haemoglobin (Relative)</a></li>
<li><a href="#"><input type="checkbox">Motility</a></li>
<li><a href="#"><input type="checkbox">Packed Cell Volume (PCV)</a></li>
<li><a href="#"><input type="checkbox">Protein (Asitic Fluid)</a></li>
<li><a href="#"><input type="checkbox">Pus Cells (Semen)</a></li>
<li><a href="#"><input type="checkbox">Quality</a></li>
<li><a href="#"><input type="checkbox">Total Count</a></li>
<li><a href="#"><input type="checkbox">Total Leucocyte Count (Knee Joint Fluid)</a></li>
<li><a href="#"><input type="checkbox">Uric Acid</a></li>
<li><a href="#"><input type="checkbox">Amylase</a></li>
<li><a href="#"><input type="checkbox">Color (with concentration)</a></li>
<li><a href="#"><input type="checkbox">Colour</a></li>
<li><a href="#"><input type="checkbox">Culture (Knee Joint Fluid)</a></li>
<li><a href="#"><input type="checkbox">Fat Droplets (with concentration)</a></li>
<li><a href="#"><input type="checkbox">Food Particles (with concentration)</a></li>
<li><a href="#"><input type="checkbox">Gram Stain (Knee Joint Fluid)</a></li>
<li><a href="#"><input type="checkbox">HCV Tridot</a></li>
<li><a href="#"><input type="checkbox">HLA B27</a></li>
<li><a href="#"><input type="checkbox">Morphology                                </a></li>
<li><a href="#"><input type="checkbox">Others (Stool w/o concentration)</a></li>
<li><a href="#"><input type="checkbox">RBC (Semen)</a></li>
<li><a href="#"><input type="checkbox">Specific Gravity</a></li>
<li><a href="#"><input type="checkbox">Sugar (Asitic Fluid)</a></li>
<li><a href="#"><input type="checkbox">Sugar (Plural Fluid)</a></li>
<li><a href="#"><input type="checkbox">Total Leucocyte Count (Asitic Fluid)</a></li>
<li><a href="#"><input type="checkbox">Urine Creatinine</a></li>
<li><a href="#"><input type="checkbox">Urine Protein</a></li>
<li><a href="#"><input type="checkbox">Urine Protein Creatinine Ratio</a></li>
<li><a href="#"><input type="checkbox">VDRL ELISA</a></li>
<li><a href="#"><input type="checkbox">Volume (Semen)</a></li>
<li><a href="#"><input type="checkbox">ZN Stain (Asitic Fluid)</a></li>
<li><a href="#"><input type="checkbox">ZN Stain (Knee Joint Fluid)</a></li>
<li><a href="#"><input type="checkbox">AFP</a></li>
<li><a href="#"><input type="checkbox">APTT (Control) (Serum)</a></li>
<li><a href="#"><input type="checkbox">Bleeding Time</a></li>
<li><a href="#"><input type="checkbox">CA-125</a></li>
<li><a href="#"><input type="checkbox">Clotting Time</a></li>
<li><a href="#"><input type="checkbox">Color (w/o concentration)</a></li>
<li><a href="#"><input type="checkbox">Coombs Test (Direct)</a></li>
<li><a href="#"><input type="checkbox">Coombs Test (Indirect)</a></li>
<li><a href="#"><input type="checkbox">Creatinine Kinase</a></li>
<li><a href="#"><input type="checkbox">Culture (Asitic Fluid)</a></li>
<li><a href="#"><input type="checkbox">Culture (Tissue)</a></li>
<li><a href="#"><input type="checkbox">Cytology (Asitic Fluid)</a></li>
<li><a href="#"><input type="checkbox">Cytology (Knee Joint Fluid)</a></li>
<li><a href="#"><input type="checkbox">Differential Count (Plural Fluid)</a></li>
<li><a href="#"><input type="checkbox">Gram Stain (Pyrotinial Fluid)</a></li>
<li><a href="#"><input type="checkbox">Gram Stain (Semen)</a></li>
<li><a href="#"><input type="checkbox">Gram Stain (Slit Skin)</a></li>
<li><a href="#"><input type="checkbox">Hb1AC</a></li>
<li><a href="#"><input type="checkbox">HPLC</a></li>
<li><a href="#"><input type="checkbox">LDL</a></li>
<li><a href="#"><input type="checkbox">Liquification time</a></li>
<li><a href="#"><input type="checkbox">Nitrite</a></li>
<li><a href="#"><input type="checkbox">Parallel Urine Sugar (60 mins)</a></li>
<li><a href="#"><input type="checkbox">Parasite</a></li>
<li><a href="#"><input type="checkbox">pH (Urine)</a></li>
<li><a href="#"><input type="checkbox">Protein (Knee Joint Fluid)</a></li>
<li><a href="#"><input type="checkbox">Protein (Plural Fluid)</a></li>
<li><a href="#"><input type="checkbox">PS for mf by concentration</a></li>
<li><a href="#"><input type="checkbox">Result</a></li>
<li><a href="#"><input type="checkbox">Sugar (Knee Joint Fluid)</a></li>
<li><a href="#"><input type="checkbox">Total Leucocyte Count (Plural Fluid)</a></li>
<li><a href="#"><input type="checkbox">Total Leucocyte Count (Pyrotinial Fluid)</a></li>
<li><a href="#"><input type="checkbox">Urine Bile Pigment</a></li>
<li><a href="#"><input type="checkbox">Viscoscity </a></li>
<li><a href="#"><input type="checkbox">VLDL Cholesterol</a></li>
<li><a href="#"><input type="checkbox">ZN Stain (Plural Fluid)</a></li>
<li><a href="#"><input type="checkbox">ZN Stain (Urine)<li><a href="#"><input type="checkbox">
</ul>
</div> -->