<div class="patientdashboard">
<div class="consultation">
<div class="block-wrapper">
<section class="block investigation">
        <h2>Investigation</h2>
        <ul class="block-content">
            <li >
                <span>Haemoglobin</span>
            </li><li>
                <span>CD4 Test</span>
            </li><li>
                <span>Urine LE/Nitrite</span>
            </li><li>
                <span>Routine Urine</span>
            </li><li>
                <span>Gram Stain (Urine)</span>
            </li><li>
                <span>ESR</span>
            </li><li>
                <span>Anaemia Panel</span>
            </li><li>
                <span>Coagulation Factor</span>
            </li>
        </ul>
    </section>
    <section class="block diagnosis">
        <h2>Diagnosis</h2>
        <ul class="block-content">
            <div class="">
                <h3>Primary Diagnoses</h3>
                <div>
                    - Tuberculosis&nbsp;(PRESUMED)
                </div>
                <div>
                     - Human Immunodeficiency Virus&nbsp;(CONFIRMED)
                </div>
            </div>
            <div class="">
                <h3>Secondary Diagnoses</h3>
                <div>
                    - Tuberculosis&nbsp;(PRESUMED)
                </div>
                <div>
                    - Human Immunodeficiency Virus&nbsp;(CONFIRMED)
                </div>
            </div>
            <div class="">
                <h3>Other Diagnoses</h3>
                <div>
                    - Tuberculosis&nbsp;(PRESUMED)
                </div>
                <div>
                    - Human Immunodeficiency Virus&nbsp;(CONFIRMED)
                </div>
            </div>
        </ul>
    </section>
</div>
<div class="block-wrapper">
      <section class="block treatment">
        <h2>Treatment</h2>
        <ul class="block-content">
            <ul>
                <li>1) Betnovate - - 1 - TID - for 15 day(s)</li>
                <li>2) Calpol - - 1 - BID - AC - for 7 day(s)</li>
                <li>3) Crocin - - 1 - qD - for 30 day(s) <span class="notes">( blah)</span></li>
            </ul>
        </ul>
    </section>
     <section class="block">
        <h2>Vital record</h2>
        <ul class="block-content">
            <ul class="vitals-list">
                <li>Height:</li>
                <li>Weight:</li>
                <li>BMI:</li>
                <li>Heart Rate:</li>
                <li>Blood pressure:</li>
                <li>Respiratory Rate:</li>

            </ul>
        </ul>
    </section>
    <section class="block allergies">
        <h2>Allergies *</h2>
        <ul class="block-content">
            <ul>
                <li>Allegra-D</li>
                <li>Better Economic Status Tied to Kid Peanut Allergy</li>
                <li>Bullied Over Food Allergies</li>
                <li>Desensitization</li>
                <li>Blood pressure:</li>
                <li>Respiratory Rate:</li>

            </ul>
        </ul>
    </section>
</div>
</div>
<div class="patientdashboard-action">
<div class="visit-history">
    <div class="block">
    <h2>Visit History</h2>
    <ul>
        <li class="active">18th Sept - today</li>
        <li>1Aug2013 - 2Aug2013</li>
        <li>23Apr2013 - 23Apr2013</li>
        <li>10Jan2013 - 13Jan2013</li>
        <li>10Sept2012 - 13Oct2012</li>
                <li>10Sept2012 - 13Oct2012</li>
                        <li>10Sept2012 - 13Oct2012</li>


    </ul>
    </div>
</div>
<div class="block">
    <h2>Actions</h2>
    <ul class="patientdashboard-action-list">
        <li><a href="#">Record Vitals</a></li>
        <li><a href="#">Consult Note</a></li>
        <li><a href="#">Consult ED Note</a></li>
        <li><a href="#">Order X-Ray</a></li>
        <li><a href="#">Order-CT Scan</a></li>
        <li><a href="#">Surgery Note</a></li>
    </ul>
</div>
</div>
</div>