<div class="particularvisit">
<div class="consultation">
<div class="block-module">
<section class="block investigation">
        <h2>Investigation <small><a href="#">(view full report)</a></small></h2>
        <ul class="block-content">
            <li >
                <span><strong>Haemoglobin </strong></span><small class="pd-date">(12Dec2013) </small>: <span class="results">89fl -</span><span class="pd-note"> Infection (Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a sapien malesuada, commodo nisl id, dignissim sem. Aliquam tellus leo, molestie a ante ornare, sollicitudin porta elit. Aenean faucibus arcu non nibh aliquet, in consectetur eros accumsan. Integer nec nibh pellentesque, tempor est eget, porta quam. )
</span>
            </li><li>
                <span><strong>CD4 Test  </strong></span><small class="pd-date">(12Dec2013) </small>: <span class="results">89fl - </span><span class="pd-note"> Infection (Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a sapien malesuada, commodo nisl id, dignissim sem. Aliquam tellus leo, molestie a ante ornare, sollicitudin porta elit. Aenean faucibus arcu non nibh aliquet, in consectetur eros accumsan. Integer nec nibh pellentesque, tempor est eget, porta quam. )
</span>
            </li>
            <li>
                <span><strong>Routine Urine: </strong></span> <span class="results">dasdas</span>
            </li>
            <li>
                <span><strong>Urine LE/Nitrite </strong></span><small class="pd-date">(12Dec2013) </small>: <span class="results">89fl - </span><span class="pd-note"> Infection (Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a sapien malesuada, commodo nisl id, dignissim sem. Aliquam tellus leo, molestie a ante ornare, sollicitudin porta elit. Aenean faucibus arcu non nibh aliquet, in consectetur eros accumsan. Integer nec nibh pellentesque, tempor est eget, porta quam. )
</span>
            </li>
            
            <li>
                <span><strong>Gram Stain (Urine): </strong></span>
            </li><li>
                <span><strong>ESR: </strong></span>
            </li><li>
                <span><strong>Anaemia Panel: </strong></span>
            </li><li>
                <span><strong>Coagulation Factor: </strong></span>
            </li>
        </ul>
    </section>
    
</div>
<div class="block-module">
      <section class="block treatment">
        <h2>Treatment  <small><a href="#">(view full report)</a></small></h2>
        <dl class="block-content">
            <dt><small class="pd-date">10Sept2013</small></dt>
            <dd>
                <ul>
                    <li>Betnovate - - 1 - TID - for 15 day(s)</li>
                    <li>Calpol - - 1 - BID - AC - for 7 day(s)</li>
                </ul>
            </dd>
            <dt><small class="pd-date">14Apr2013</small></dt>
            <dd>
                <ul>
                <li>Crocin - - 1 - qD - for 30 day(s) <span class="pd-note">( Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a sapien malesuada, commodo nisl id, dignissim sem)</span></li>
                <li>Moxacilin -- 1 - AC -- for 10 days</li>

                </ul>
            </dd>
        </dl>
    </section>
     <section class="block treatment">
        <h2>Vital record  <small><a href="#">(view full report)</a></small></h2>
        <dl class="block-content">
            <dt><small class="pd-date">Last Vitals on 12Sept2013</small></dt>
            <dd>
                <ul class="vitals-list">
                    <li>Height:</li>
                    <li>Weight:</li>
                    <li>BMI:</li>
                    <li>Heart Rate:</li>
                    <li>Blood pressure:</li>
                    <li>Respiratory Rate:</li>

                </ul>
            </dd>
        </dl>
    </section>
</div>
<div class="block-module">
	<section class="block diagnosis">
        <h2>Diagnosis  <small><a href="#">(view full report)</a></small></h2>
        <ul class="block-content">
            	<ul>
            		<li>Tuberculosis&nbsp;(PRESUMED) <small class="pd-date">12Oct2013</small></li>
            		<li>Human Immunodeficiency Virus&nbsp;(CONFIRMED) <small class="pd-date">12Oct2013</small></li>
            		<li>Human Immunodeficiency Virus&nbsp;(CONFIRMED) <small class="pd-date">12Oct2013</small></li>
            		<li>Human Immunodeficiency Virus&nbsp;(CONFIRMED) <small class="pd-date">12Oct2013</small></li>
            		<li>Human Immunodeficiency Virus&nbsp;(PRESUMED) <small class="pd-date">12Oct2013</small></li>
            	</ul>
               
           
        </ul>
    </section>
    <section class="block allergies">
        <h2>Allergies  <small><a href="#">(view full report)</a></small></h2>
        <ul class="block-content">
            <ul>
                <li>Allegra-D</li>
                <li>Better Economic Status Tied to Kid Peanut Allergy</li>
                <li>Bullied Over Food Allergies</li>
                <li>Desensitization</li>
                <li>Blood pressure:</li>
                <li>Respiratory Rate:</li>

            </ul>
        </ul>
    </section>
</div>
</div>
<div class="patientdashboard-action">
<div class="visit-history">
    <div class="block">
    <h2>Visit History</h2>
    <ul>
        <li class="active">18th Sept - today</li>
        <li>1Aug2013 - 2Aug2013</li>
        <li>23Apr2013 - 23Apr2013</li>
        <li>10Jan2013 - 13Jan2013</li>
        <li>10Sept2012 - 13Oct2012</li>
                <li>10Sept2012 - 13Oct2012</li>
                        <li>10Sept2012 - 13Oct2012</li>


    </ul>
    </div>
</div>
<div class="block">
    <h2>Actions</h2>
    <ul class="patientdashboard-action-list">
        <li><a href="#">Record Vitals</a></li>
        <li><a href="#">Consult Note</a></li>
        <li><a href="#">Consult ED Note</a></li>
        <li><a href="#">Order X-Ray</a></li>
        <li><a href="#">Order-CT Scan</a></li>
        <li><a href="#">Surgery Note</a></li>
    </ul>
</div>
</div>
</div>