<div class="opd-header-wrapper">
        <header class="reg-header">
             <ul class="header-tabs">
                 
             </ul>
              <ul class="patient-info">
                 <li><img class="roundImages"  src="../images/blank-user.gif"></li>
                  <li class="logoff">
                     <button ng-click="logout()"><i class="icon-off icon-white small"></i></button>
                 </li>
             </ul>

             <div class="patient-detail">
                 <ul>
                     <li class="ng-binding">GAN200044</li>
                     <li><span class="ng-binding">SHAHRUKH KHAN,</span></li>
                     <li class="ng-binding">Male, 90</li>
                     <li ng-show="bed" class="ng-binding" style="display: none;">Bed : </li>
                 </ul>
            </div>
        </header>
</div>
<div class="opd-wrapper">

<div class="particularvisit">
<div class="consultation">
    <div class="block-module">
    <section class="block diagnosis">
        <h2>Diagnosis  <small><a href="#">(view full report)</a></small></h2>
        
                <dl class="block-content">
                    <dt><small class="pd-date"><strong>CHRONIC ILLNESS</strong></small><dt>
                        <dd><ul><li>Hypertension (past 8 Years)</li></ul></dd>
                    <dt> <small class="pd-date">12Oct2013</small></dt>
                    <dd>
                        <ul>
                            <li>Human Immunodeficiency Virus&nbsp;</li>
                            <li>Tuberculosis (SECONDARY)</li>
                        </ul>
                    </dd>
                    <dt> <small class="pd-date">12Apr2013</small></dt>
                    <dd>
                        <ul>
                            <li>Human Immunodeficiency Virus&nbsp;</li>
                        </ul>
                    </dd>
                     <dt> <small class="pd-date">11Jan2013</small></dt>
                    <dd>
                        <ul>
                            <li>Malaria (PRESUMED)</li>
                        </ul>
                    </dd>

                </dl>
               
           
        
    </section>
    <section class="block treatment">
        <h2>Vitals  <small><a href="#">(view full report)</a></small></h2>
        <dl class="block-content">
            <dt><small class="pd-date">Last Vitals on 12Sept2013</small></dt>
            <dd>
                <ul class="vitals-list">
                    <li>Height: 174 cm</li>
                    <li>Weight: 53 Kg
                    <li>BMI: 17.51, Underweight</li>
                    <li>Heart Rate: 62 bpm</li>
                    <li>Blood pressure: 80/120</li>
                    <li>Temparature: 98.2 F</li>
                    <li>Respiratory Rate: 18 b/m</li>

                </ul>
            </dd>
        </dl>
    </section>
</div>

<div class="block-module">
      <section class="block treatment">
        <h2>Treatment  <small><a href="#">(view full report)</a></small></h2>
        <dl class="block-content">
            <dt><small class="pd-date"><Strong>ACTIVE</strong></small></dt>
            <dd>
                <ul>
                    <li>Betnovate - - 1 - TID - for 15 day(s)</li>
                    <li>Calpol - - 1 - BID - AC - for 7 day(s)</li>
                </ul>
            </dd>
            <dt><small class="pd-date">Last Treatment on 10Sept2013</small></dt>
            <dd>
                <ul>
                    <li>Betnovate - - 1 - TID - for 15 day(s)</li>
                    <li>Calpol - - 1 - BID - AC - for 7 day(s)</li>
                </ul>
            </dd>   
            <dd>
                <ul>
                <li>Crocin - - 1 - qD - for 30 day(s) <span class="pd-note"></span></li>
                <li>Moxacilin -- 1 - AC -- for 10 days</li>

                </ul>
            </dd>
        </dl>
    </section>
    <section class="block investigation">
        <h2>Radiology <small><a href="#">(view full report)</a></small></h2>
     
        <dl>
            <dt><small class="pd-date"> 12Aug2013</small></dt>
                <dd>
                    <ul>
                    <li >
                        <span><a href="#"><strong>Chest Iordatic X-Ray </strong></span></a>
                        </li>
                    <li><span><a href="#"><strong>ECG</strong></span></a></li>

                </ul>
                </dd>
                <dt><small class="pd-date"> 1Jan2013</small></dt>
                <dd>
                    <ul>
                    <li><span><a href="#"><strong>Shoulder Clavicle Left X-Ray </strong></span></a> </li>

                </ul>
                </dd>
        </dl>
    </section>
     
</div>
<div class="block-module">
<section class="block allergies">
        <h2>Allergies  <small><a href="#">(view full report)</a></small></h2>
        <ul class="block-content">
            <ul>
                <li>Peanut</li>
                <li>Antihistamine Medication</li>
                <li>Desensitization</li>

            </ul>
        </ul>
    </section>
    
    
</div>
</div>
<div class="patientdashboard-action">
<div class="visit-history">
    <div class="block">
    <h2>Visit History</h2>
    <ul>
        <li class="active">18th Sept - today</li>
        <li>1Aug2013 - 2Aug2013</li>
        <li>23Apr2013 - 23Apr2013</li>
        <li>10Jan2013 - 13Jan2013</li>
        <li>10Sept2012 - 13Oct2012</li>
                <li>10Sept2012 - 13Oct2012</li>
                        <li>10Sept2012 - 13Oct2012</li>


    </ul>
    </div>
</div>
<div class="block">
    <h2>Actions</h2>
    <ul class="patientdashboard-action-list">
        <li><a href="#">Consultation</a></li>
        <li><a href="#">Lab History</a></li>     
    </ul>
</div>
</div>
</div>
</div>