<div class="opd-header-wrapper">
        <header class="reg-header">
             <ul class="header-tabs">
                 
             </ul>
              <ul class="patient-info">
                 <li><img class="roundImages"  src="../images/blank-user.gif"></li>
                  <li class="logoff">
                     <button ng-click="logout()"><i class="icon-off icon-white small"></i></button>
                 </li>
             </ul>

             <div class="patient-detail">
                 <ul>
                     <li class="ng-binding">GAN200044</li>
                     <li><span class="ng-binding">SHAHRUKH KHAN,</span></li>
                     <li class="ng-binding">Male, 90</li>
                     <li ng-show="bed" class="ng-binding" style="display: none;">Bed : </li>
                 </ul>
            </div>
        </header>
</div>
<div class="opd-wrapper">

<div class="particularvisit">
<div class="consultation">
    <div class="block-module">
    <section class="block diagnosis">
        <h2>Diagnosis  <small><a href="#">(view full report)</a></small></h2>
        
                <dl class="block-content">
                    <dt><small class="pd-subheader"><strong>MAJOR ILLNESS</strong></small><dt>
                        <dd><ul><li>Hypertension (past 8 Years )</li></ul></dd>
                    <dt><small class="pd-subheader"><strong>PAST ILLNESS</strong></small><dt>
                        <dd><ul><li>Tuberculosis (3 Years Ago )</li></ul></dd>
                        
                    <dt> <small class="pd-subheader"><strong>RECENT ILLNESS</strong></small></dt>
                    <dd>
                        <ul>
                            <li>Typhoid (PRIMARY - PRESUMED) <small class="pd-date">22Aug2013</small></li>
                            <li>Skin Rashed <small class="pd-date">12May2013</small></li>
                        </ul>
                    </dd>
                </dl>
               
           
        
    </section>
    <section class="block treatment">
        <h2>Treatment  <small><a href="#">(view full report)</a></small></h2>
        <dl class="block-content">
            <dt><small class="pd-subheader"><Strong>ACTIVE</strong></small></dt>
            <dd>
                <ul>
                    <li>Metoprolol - - 1 - TID - for 60 day(s)</li>
                    <li>Concor - - 1 - BID - AC - for 7 day(s)</li>
                </ul>
            </dd>
            <dt><small class="pd-subheader"><strong>LAST TREATMENT</strong></small></dt>
            <dd>
                <ul>
                    <li>Betnovate  1 <small class="pd-date">11Sept2013 - for 15 day(s)</small></li>
                    <li>Calpol - 1 <small class="pd-date">28Sept2013 - for 7 day(s)</small></li>
                    <li>Crocin - 1 <small class="pd-date">11Sept2013 - for 30 day(s)</small></li>
                    <li>Moxacilin - 1 <small class="pd-date">11Sept2013 -  for 10 days</small></li>
                </ul>
            </dd>   
        </dl>
    </section>
    
</div>
<div class="block-module">

    <section class="block lab">
        <h2>Lab Reports <small><a href="#">(view full report)</a></small></h2>
        <dl class="block-content">
            <dt><small class="pd-subheader"><strong>ABNORMAL RESULTS ONLY</strong></small></dt>
            <dd>
            <ul>
                <li>HDl: 30 <small class="pd-date">26Oct2013</small></li>
                <li>LDL: 200 <small class="pd-date">26Oct2013</small></li>
                <li>Alkalinity: 20 mg/l <small class="pd-date">18Oct2013</small></li>
                <li>Calcium: 31 mg/l <small class="pd-date">18Oct2013</small></li>
                <li>Chloride: 40.5 mg/l <small class="pd-date">18Oct2013</small></li>
                <li>Sodium: 31 mg/l <small class="pd-date">18Oct2013</small></li>
            </ul>
        </dd>
        </dl>
    </section>
    <section class="block radiology">
        <h2>Radiology <small><a href="#">(view full report)</a></small></h2>
     
        <dl class="block-content">
                <dd>
                    <ul>
                    <li >
                        <span><a href="#">Chest Iordotic X-Ray </span></a>     <small class="pd-date">2 days ago</small>
                        </li>
                    <li><span><a href="#">ECG</span></a>        <small class="pd-date">2 days ago</small></li>

                </ul>
                </dd>
                <dd>
                    <ul>
                    <li><span><a href="#">Shoulder Clavicle Left X-Ray</span></a>     <small class="pd-date">2 days ago</small></li>

                </ul>
                </dd>
        </dl>
    </section>
    
</div>
<div class="block-module">
      <section class="block treatment">
        <h2>Vitals  <small><a href="#">(view full report)</a></small></h2>
            <dl class="block-content"><dt><small class="pd-subheader"><strong>CURRENT VITALS</strong></small></dt>
                <dd>
                <ul class="vitals-list">
                    <li>Height: 174 cm <small class="pd-date">27Oct2013</small></li>
                    <li>Weight: 53 Kg <small class="pd-date">27Oct2013</small></li>
                    <li><span class="abnormal" title="Abnormal result">MI: 17.51, Underweight </span> <small class="pd-date">27Oct2013</small></li>
                    <li>Heart Rate: 62 bpm <small class="pd-date">27Oct2013</small></li>
                    <li><a href="#">Blood pressure</a>: 120/80 <small class="pd-date">27Oct2013</small></li>
                    <li>Temparature: 98.2 F <small class="pd-date">27Oct2013</small></li>
                    <li>Respiratory: 18 b/m <small class="pd-date">27Oct2013</small></li>

                </ul>
            </dd>
        </dl>
    </section>
    <section class="block allergies">
        <h2>Surgeries  <small><a href="#">(view full report)</a></small></h2>
        <ul class="block-content">
                <li>Appendectomy <small class="pd-date">12Aug1999</small></li>
        </ul>
    </section>
    
     
</div>

</div>
<div class="patientdashboard-action">
<div class="visit-history">
    <div class="block">
    <h2>Visit History</h2>
    <ul>
        <li class="active">18th Sept - today</li>
        <li>1Aug2013 - 2Aug2013</li>
        <li>23Apr2013 - 23Apr2013</li>
        <li>10Jan2013 - 13Jan2013</li>
        <li>10Sept2012 - 13Oct2012</li>
                <li>10Sept2012 - 13Oct2012</li>
                        <li>10Sept2012 - 13Oct2012</li>


    </ul>
    </div>
</div>
<div class="block">
    <h2>Actions</h2>
    <ul class="patientdashboard-action-list">
        <li><a href="#">Consultation</a></li>
        <li><a href="#">Lab History</a></li>     
    </ul>
</div>
</div>
</div>
</div>