<div class="opd-header-wrapper">
        <header class="reg-header" ng-controller="ConsultationNavigationController">
             <ul class="header-tabs">
                 
             </ul>
              <ul class="patient-info">
                 <li><img class="roundImages"  src="../images/blank-user.gif"></li>
                  <li class="logoff">
                     <button ng-click="logout()"><i class="icon-off icon-white small"></i></button>
                 </li>
             </ul>

             <div class="patient-detail">
                 <ul>
                     <li class="ng-binding">GAN200044</li>
                     <li><span class="ng-binding">shahrukh khan,</span></li>
                     <li class="ng-binding">Male, 90,</li>
                     <li ng-show="bed" class="ng-binding" style="display: none;">Bed : </li>
                 </ul>
            </div>
        </header>
</div>
<div class="opd-wrapper">
    <div class="vitals">
        <form>
        <div class="vitals-select">
            <span class="select-arrow">
                <select>
                    <option>Select vitals</option>
                    <option>Blood Pressssure Blood Pressssure</option>
                    <option>O2 Sat</option>
                    <option>Respiratory Rate</option>
                </select>
            </span>
            <button class="confirm">Add</button>
        </div>
        <div class="vitals-wrapper">
            <div class="form-field-inline">
                <article class="form-field">
                    <div class="field-attribute">
                        <label for="address1">Height</label>
                    </div>
                    <div class="field-value">
                        <input type="number" placeholder="">
                    </div>
                </article>
                <article class="form-field">
                    <div class="field-attribute">
                        <label for="address1">Weight</label>
                    </div>
                    <div class="field-value">
                        <input type="number" placeholder="">
                    </div>
                </article>
            </div>
            <div class="form-field-inline">
                <article class="form-field">
                    <div class="field-attribute">
                        <label for="address1">(Calculated) BMI</label>
                    </div>
                    <div class="field-value">
                        <input type="number" placeholder="">
                    </div>
                </article>
                <article class="form-field">
                    <div class="field-attribute">
                        <label for="address1">Heart Rate</label>
                    </div>
                    <div class="field-value">
                        <input type="number" placeholder="">
                    </div>
                </article>
            </div>
            <div class="form-field-inline">
                <article class="form-field">
                    <div class="field-attribute">
                        <label for="address1">Temparature</label>
                    </div>
                    <div class="field-value">
                        <input type="number" placeholder="">
                    </div>
                </article>
                <article class="form-field">
                    <div class="field-attribute">
                        <label for="address1">Respiratory Rate</label>
                    </div>
                    <div class="field-value">
                        <input type="number" placeholder="">
                    </div>
                </article>
            </div>
            <div class="form-field-inline">
                <article class="form-field">
                    <div class="field-attribute">
                        <label for="address1">Blood pressure</label>
                    </div>
                    <div class="field-value">
                        <input type="number" placeholder="">
                    </div>
                </article>
                <article class="form-field">
                    <div class="field-attribute">
                        <label for="address1">O2 Sat</label>
                    </div>
                    <div class="field-value">
                        <input type="number" placeholder="">
                    </div>
                </article>
            </div>

        </div>
        </form>
    </div>
</div>